<!doctype html>
<html class="ie8 oldie">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Pastelerías Sharons</title>
<link href="css/boilerplate.css" rel="stylesheet" type="text/css">
<link href="css/reticula.css" rel="stylesheet" type="text/css">
<link href="css/estilos.css" rel="stylesheet" type="text/css">
<link rel="shortcut icon" href="imagenes/icono.ico">

<script src="js/respond.min.js"></script>

<!-- MENU -->
<link rel="stylesheet" href="css/responsive-nav.css">
<link rel="stylesheet" href="css/styles.css">
<script src="js/responsive-nav.js"></script>

<!-- DECORADO -->
<link rel="stylesheet" type="text/css" href="css/component-tabs.css" />
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<link rel="stylesheet" type="text/css" href="css/color_extras.css" />

<!-- EXTRAS CAROUSEL
<link rel="stylesheet" href="css/swiper.min.css">
    
<style>
    .swiper-container {
        width: 100%;
        margin: 20px auto;
    }
    .swiper-slide {
        text-align: center;
		line-height: 10pt;
        /* Center slide text vertically */
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
	.swiper-slide img{ margin-bottom: 14px;
	border: solid #edddc2 1px;
	}
    </style>
-->  
</head>
<body>
<div class="gridContainer clearfix">
<a href="login.html"><div id="sesion">
<span class="icon-head"></span>
</div></a> 

<a href="resumen-pedido.html"><div id="bag">
 <span class="icon-bag"></span></div></a>
 
  <div id="header">
    <div id="logo"><a href="index.html"><img src="imagenes/sharons-pasteleria-panaderia-cafeteria-acapulco_01.png" class="big">
    <img src="imagenes/sharons-pasteleria-panaderia-cafeteria-acapulco_02.png" class="small"></a></div>
    
    <div id="menu">
  <nav class="nav-collapse">
  <ul>
       <li ><a href="#">INICIO</a></li>
       <li><a href="pasteleria.html">PASTELERÍA</a></li>
       <li ><a href="cafeteria.html">CAFETERÍA</a></li>
       <li><a href="contacto.html">CONTACTO</a></li>
      </ul>
  </nav></div>
    
  </div><!--END HEADER-->
  <%
  if ( session.getAttribute("pastelArmadoBean") != null ){
  %>
  <div id="titulo-centro"><span class="secciones">Elige el decorado de tu pastel</span><br>
  <div align="right">
  <span class="button"  id="boton_continuar">continuar<span class="icon-chevron-right"></span></span>   
  </div>
 </div>
  
  <div id="decorado-content" class="content">
  <div id="tabs" class="tabs">
		<nav>
			<ul>
<li><a href="#section-1" class="icon-cake"><span>Flores Fondant</span></a></li>
<li><a href="#section-2" class="icon-cog"><span>Flores Naturales</span></a></li>
<li><a href="#section-3" class="icon-gift"><span>Adicionales</span></a></li>
					</ul>
				</nav>
				<div class="content">
                
<!--SECCION 1-->               
<section id="section-1">
<div id="decorado-title"><span class="subtitulo"><span
     style="color:#e39513">Agrega</span> flores de fondant o látex <span
     style="color:#e39513">a tu pastel</span></span></div>
  
 <!--1 FLOR TREBOL-->                     
<div class="mediabox">
  <label class="decorado-extra">
    <input name="decorado_flores_fondant" value="Trébol fondant" id="trebol_fondant">
 	<img src="decorado/sharons-pasteleria-panaderia-cafeteria-acapulco-decorado-fondant_01.jpg">
<p>Trébol 4.5cm<br>
<span class="costo_adi">Docena $65 pesos</span></label>

<select id="lista_flores_fondant_1" name="Trébol 4.5cm | 65" class="decorado" required>
 	<option value="0">Docenas</option>
	<option value="1">1 docena</option>
	<option value="2">2 docenas</option>
	<option value="3">3 docenas</option>
	<option value="4">4 docenas</option>
	<option value="5">5 docenas</option>
	<option value="6">6 docenas</option>
	<option value="7">7 docenas</option>
	<option value="8">8 docenas</option>
	<option value="9">9 docenas</option>
	<option value="10">10 docenas</option>
 </select>
 <select id="lista_color_flores_fondant_1" class="decorado" required>
 	<option value="">Color</option>
	<option value="Blanco">Blanco</option>
	<option value="Rojo">Rojo</option>
	<option value="Amarillo">Amarillo</option>
	<option value="Rosa">Rosa</option>
	<option value="Naranja">Naranja</option>
	<option value="Lila">Lila</option>
	<option value="Morado">Morado</option>
    <option value="Verde">Verde</option>
    <option value="Azul">Azul</option>
    <option value="Turquesa">Turquesa</option>
	<option value="Dorado">Dorado</option>
	<option value="Plateado">Plateado</option>
</select>
</div>
                        
<!--2 ROSA CHICA-->                      
<div class="mediabox">
  <label class="decorado-extra">
    <input name="decorado_flores_fondant" value="Rosa chica fondant" id="rosa_chica_fondant">
<img src="decorado/sharons-pasteleria-panaderia-cafeteria-acapulco-decorado-fondant_02.jpg">
<p>Rosa chica<br>
<span class="costo_adi">Pieza $35 pesos</span></label>

<select id="lista_flores_fondant_2" name="Rosa chica | 35"   class="decorado" required>
 	<option value="0">Piezas</option>
	<option value="1">1 pieza</option>
	<option value="2">2 piezas</option>
	<option value="3">3 piezas</option>
	<option value="4">4 piezas</option>
	<option value="5">5 piezas</option>
	<option value="6">6 piezas</option>
	<option value="7">7 piezas</option>
	<option value="8">8 piezas</option>
	<option value="9">9 piezas</option>
	<option value="10">10 piezas</option>
    <option value="15">15 piezas</option>
    <option value="20">20 piezas</option>
</select>
<select id="lista_color_flores_fondant_2" name="Alcatraz 5cm | 35" class="decorado" required>
 	<option value="">Color</option>
	<option value="Blanco">Blanco</option>
	<option value="Rojo">Rojo</option>
	<option value="Amarillo">Amarillo</option>
	<option value="Rosa">Rosa</option>
	<option value="Naranja">Naranja</option>
	<option value="Lila">Lila</option>
	<option value="Morado">Morado</option>
    <option value="Verde">Verde</option>
    <option value="Azul">Azul</option>
    <option value="Turquesa">Turquesa</option>
	<option value="Dorado">Dorado</option>
	<option value="Plateado">Plateado</option>
</select>
</div>
  
<!--3 ROSA CON HOJAS-->                 
<div class="mediabox">
  <label class="decorado-extra">
    <input name="decorado_flores_fondant" value="Rosa con hojas" id="rosa_hojas_fondant">
 	<img src="decorado/sharons-pasteleria-panaderia-cafeteria-acapulco-decorado-fondant_03.jpg">
<p>Rosa con hojas<br>
<span class="costo_adi">Pieza $49 pesos</span></label>

 <select id="lista_flores_fondant_3" name="Rosa con hojas | 49" class="decorado" required>
 	<option value="0">Piezas</option>
	<option value="1">1 pieza</option>
	<option value="2">2 piezas</option>
	<option value="3">3 piezas</option>
	<option value="4">4 piezas</option>
	<option value="5">5 piezas</option>
	<option value="6">6 piezas</option>
	<option value="7">7 piezas</option>
	<option value="8">8 piezas</option>
	<option value="9">9 piezas</option>
	<option value="10">10 piezas</option>
    <option value="15">15 piezas</option>
    <option value="20">20 piezas</option>
 </select>
 <select id="lista_color_flores_fondant_3" name="" class="decorado" required>
 	<option value="">Color</option>
	<option value="Blanco">Blanco</option>
	<option value="Rojo">Rojo</option>
	<option value="Amarillo">Amarillo</option>
	<option value="Rosa">Rosa</option>
	<option value="Naranja">Naranja</option>
	<option value="Lila">Lila</option>
	<option value="Morado">Morado</option>
    <option value="Verde">Verde</option>
    <option value="Azul">Azul</option>
    <option value="Turquesa">Turquesa</option>
	<option value="Dorado">Dorado</option>
	<option value="Plateado">Plateado</option>
</select>
</div>
        
<!--4 ALCATRAZ-->         
<div class="mediabox">
  <label class="decorado-extra">
    <input name="decorado_flores_fondant" value="Alcatraz" id="alcatraz_fondant">
 	<img src="decorado/sharons-pasteleria-panaderia-cafeteria-acapulco-decorado-fondant_04.jpg">
<p>Alcatraz 5cm<br>
<span class="costo_adi">Pieza $35 pesos</span></label>

 <select id="lista_flores_fondant_4" name="Alcatraz 5cm | 35" class="decorado" required>
 	<option value="0">Piezas</option>
	<option value="1">1 pieza</option>
	<option value="2">2 piezas</option>
	<option value="3">3 piezas</option>
	<option value="4">4 piezas</option>
	<option value="5">5 piezas</option>
	<option value="6">6 piezas</option>
	<option value="7">7 piezas</option>
	<option value="8">8 piezas</option>
	<option value="9">9 piezas</option>
	<option value="10">10 piezas</option>
    <option value="15">15 piezas</option>
    <option value="20">20 piezas</option>
 </select>
 <select id="lista_color_flores_fondant_4" name="" class="decorado" required>
 	<option value="">Color</option>
	<option value="Blanco">Blanco</option>
	<option value="Rojo">Rojo</option>
	<option value="Amarillo">Amarillo</option>
	<option value="Rosa">Rosa</option>
	<option value="Naranja">Naranja</option>
	<option value="Lila">Lila</option>
	<option value="Morado">Morado</option>
    <option value="Verde">Verde</option>
    <option value="Azul">Azul</option>
    <option value="Turquesa">Turquesa</option>
	<option value="Dorado">Dorado</option>
	<option value="Plateado">Plateado</option>
</select>
</div>
        
<!--5 CEBOLLIN-->         
<div class="mediabox">
  <label class="decorado-extra">
    <input name="decorado_flores_fondant" value="Cebollin" id="cebollin_fondant">
 	<img src="decorado/sharons-pasteleria-panaderia-cafeteria-acapulco-decorado-fondant_05.jpg">
<p>Cebollín 5cm<br>
<span class="costo_adi">Docena $300 pesos</span></label>

 <select id="lista_flores_fondant_5" name="Cebollín 5cm | 300" class="decorado" required>
 	<option value="0">Docenas</option>
	<option value="1">1 docena</option>
	<option value="2">2 docenas</option>
	<option value="3">3 docenas</option>
	<option value="4">4 docenas</option>
	<option value="5">5 docenas</option>
	<option value="6">6 docenas</option>
	<option value="7">7 docenas</option>
	<option value="8">8 docenas</option>
	<option value="9">9 docenas</option>
	<option value="10">10 docenas</option>
 </select>
 <select id="lista_color_flores_fondant_5"  class="decorado" required>
 	<option value="">Color</option>
	<option value="Blanco">Blanco</option>
	<option value="Rojo">Rojo</option>
	<option value="Amarillo">Amarillo</option>
	<option value="Rosa">Rosa</option>
	<option value="Naranja">Naranja</option>
	<option value="Lila">Lila</option>
	<option value="Morado">Morado</option>
    <option value="Verde">Verde</option>
    <option value="Azul">Azul</option>
    <option value="Turquesa">Turquesa</option>
	<option value="Dorado">Dorado</option>
	<option value="Plateado">Plateado</option>
</select>
</div>

<!--6 ESTRELLA MINI-->         
<div class="mediabox">
  <label class="decorado-extra">
    <input name="decorado_flores_fondant" value="Estrella mini" id="estrella_mini_fondant">
 	<img src="decorado/sharons-pasteleria-panaderia-cafeteria-acapulco-decorado-fondant_06.jpg">
<p>Estrella mini<br>
<span class="costo_adi">Docena $100 pesos</span></label>

 <select id="lista_flores_fondant_6" name="Estrella mini | 100"  class="decorado" required>
 	<option value="0">Docenas</option>
	<option value="1">1 docena</option>
	<option value="2">2 docenas</option>
	<option value="3">3 docenas</option>
	<option value="4">4 docenas</option>
	<option value="5">5 docenas</option>
	<option value="6">6 docenas</option>
	<option value="7">7 docenas</option>
	<option value="8">8 docenas</option>
	<option value="9">9 docenas</option>
	<option value="10">10 docenas</option>
 </select>
 <select id="lista_color_flores_fondant_6" name="" class="decorado" required>
 	<option value="">Color</option>
	<option value="Blanco">Blanco</option>
	<option value="Rojo">Rojo</option>
	<option value="Amarillo">Amarillo</option>
	<option value="Rosa">Rosa</option>
	<option value="Naranja">Naranja</option>
	<option value="Lila">Lila</option>
	<option value="Morado">Morado</option>
    <option value="Verde">Verde</option>
    <option value="Azul">Azul</option>
    <option value="Turquesa">Turquesa</option>
	<option value="Dorado">Dorado</option>
	<option value="Plateado">Plateado</option>
</select>
</div>

<!--7 FLORES SURTIDAS-->         
<div class="mediabox">
  <label class="decorado-extra">
    <input name="decorado_flores_fondant" value="Flores surtidas" id="flores_surtidas_fondant">
 	<img src="decorado/sharons-pasteleria-panaderia-cafeteria-acapulco-decorado-fondant_07.jpg">
<p>Surtidas 2 a 5cm<br>
<span class="costo_adi">Docena $100 pesos</span></label>

 <select id="lista_flores_fondant_7" name="Surtidas 2 a 5cm | 100" class="decorado" required>
 	<option value="0">Docenas</option>
	<option value="1">1 docena</option>
	<option value="2">2 docenas</option>
	<option value="3">3 docenas</option>
	<option value="4">4 docenas</option>
	<option value="5">5 docenas</option>
	<option value="6">6 docenas</option>
	<option value="7">7 docenas</option>
	<option value="8">8 docenas</option>
	<option value="9">9 docenas</option>
	<option value="10">10 docenas</option>
 </select>
 <select id="lista_color_flores_fondant_7" name="" class="decorado" required>
 	<option value="">Color</option>
	<option value="Blanco">Blanco</option>
	<option value="Rojo">Rojo</option>
	<option value="Amarillo">Amarillo</option>
	<option value="Rosa">Rosa</option>
	<option value="Naranja">Naranja</option>
	<option value="Lila">Lila</option>
	<option value="Morado">Morado</option>
    <option value="Verde">Verde</option>
    <option value="Azul">Azul</option>
    <option value="Turquesa">Turquesa</option>
	<option value="Dorado">Dorado</option>
	<option value="Plateado">Plateado</option>
</select>
</div>

<!--8 LISIANTHUS-->         
<div class="mediabox">
  <label class="decorado-extra">
    <input name="decorado_flores_fondant" value="Lisianthus" id="lisianthus_fondant">
 	<img src="decorado/sharons-pasteleria-panaderia-cafeteria-acapulco-decorado-fondant_08.jpg">
<p>Lisianthus<br>
<span class="costo_adi">Pieza $20 pesos</span></label>

 <select id="lista_flores_fondant_8" name="Lisianthus | 20" class="decorado" required>
 	<option value="0">Piezas</option>
	<option value="1">1 pieza</option>
	<option value="2">2 piezas</option>
	<option value="3">3 piezas</option>
	<option value="4">4 piezas</option>
	<option value="5">5 piezas</option>
	<option value="6">6 piezas</option>
	<option value="7">7 piezas</option>
	<option value="8">8 piezas</option>
	<option value="9">9 piezas</option>
	<option value="10">10 piezas</option>
    <option value="15">15 piezas</option>
    <option value="20">20 piezas</option>
 </select>
 <select id="lista_color_flores_fondant_8" name="" class="decorado" required>
 	<option value="">Color</option>
	<option value="Blanco">Blanco</option>
	<option value="Rojo">Rojo</option>
	<option value="Amarillo">Amarillo</option>
	<option value="Rosa">Rosa</option>
	<option value="Naranja">Naranja</option>
	<option value="Lila">Lila</option>
	<option value="Morado">Morado</option>
    <option value="Verde">Verde</option>
    <option value="Azul">Azul</option>
    <option value="Turquesa">Turquesa</option>
	<option value="Dorado">Dorado</option>
	<option value="Plateado">Plateado</option>
</select>
</div>

<!--9 ESTRELLA-->         
<div class="mediabox">
  <label class="decorado-extra">
    <input name="decorado_flores_fondant" value="Estrella" id="estrella_fondant">
 	<img src="decorado/sharons-pasteleria-panaderia-cafeteria-acapulco-decorado-fondant_09.jpg">
<p>Estrella 5cm<br>
<span class="costo_adi">Docena $100 pesos</span></label>

 <select id="lista_flores_fondant_9" name="Estrella 5cm | 100" class="decorado" required>
 	<option value="0">Docenas</option>
	<option value="1">1 docena</option>
	<option value="2">2 docenas</option>
	<option value="3">3 docenas</option>
	<option value="4">4 docenas</option>
	<option value="5">5 docenas</option>
	<option value="6">6 docenas</option>
	<option value="7">7 docenas</option>
	<option value="8">8 docenas</option>
	<option value="9">9 docenas</option>
	<option value="10">10 docenas</option>
 </select>
 <select id="lista_color_flores_fondant_9" name="" class="decorado" required>
 	<option value="">Color</option>
	<option value="Blanco">Blanco</option>
	<option value="Rojo">Rojo</option>
	<option value="Amarillo">Amarillo</option>
	<option value="Rosa">Rosa</option>
	<option value="Naranja">Naranja</option>
	<option value="Lila">Lila</option>
	<option value="Morado">Morado</option>
    <option value="Verde">Verde</option>
    <option value="Azul">Azul</option>
    <option value="Turquesa">Turquesa</option>
	<option value="Dorado">Dorado</option>
	<option value="Plateado">Plateado</option>
</select>
</div>

<!--10 TERESITA-->         
<div class="mediabox">
  <label class="decorado-extra">
    <input name="decorado_flores_fondant" value="Teresita" id="teresita_fondant">
 	<img src="decorado/sharons-pasteleria-panaderia-cafeteria-acapulco-decorado-fondant_10.jpg">
<p>Teresita 15cm<br>
<span class="costo_adi">Pieza $120 pesos</span></label>

 <select id="lista_flores_fondant_10" name="Teresita 15cm | 120" class="decorado" required>
 	<option value="0">Piezas</option>
	<option value="1">1 pieza</option>
	<option value="2">2 piezas</option>
	<option value="3">3 piezas</option>
	<option value="4">4 piezas</option>
	<option value="5">5 piezas</option>
	<option value="6">6 piezas</option>
	<option value="7">7 piezas</option>
	<option value="8">8 piezas</option>
	<option value="9">9 piezas</option>
	<option value="10">10 piezas</option>
    <option value="15">15 piezas</option>
    <option value="20">20 piezas</option>
 </select>
 <select id="lista_color_flores_fondant_10" name="" class="decorado" required>
 	<option value="">Color</option>
	<option value="Blanco">Blanco</option>
	<option value="Rojo">Rojo</option>
	<option value="Amarillo">Amarillo</option>
	<option value="Rosa">Rosa</option>
	<option value="Naranja">Naranja</option>
	<option value="Lila">Lila</option>
	<option value="Morado">Morado</option>
    <option value="Verde">Verde</option>
    <option value="Azul">Azul</option>
    <option value="Turquesa">Turquesa</option>
	<option value="Dorado">Dorado</option>
	<option value="Plateado">Plateado</option>
</select>
</div>

<!--11 FLOR ONDULADA-->         
<div class="mediabox">
  <label class="decorado-extra">
    <input name="decorado_flores_fondant" value="Flor ondulada" id="flor_ondulada_fondant">
 	<img src="decorado/sharons-pasteleria-panaderia-cafeteria-acapulco-decorado-fondant_11.jpg">
<p>Ondulada 15cm<br>
<span class="costo_adi">Pieza $150 pesos</span></label>

 <select id="lista_flores_fondant_11" name="Ondulada 15cm | 150" class="decorado" required>
 	<option value="0">Piezas</option>
	<option value="1">1 pieza</option>
	<option value="2">2 piezas</option>
	<option value="3">3 piezas</option>
	<option value="4">4 piezas</option>
	<option value="5">5 piezas</option>
	<option value="6">6 piezas</option>
	<option value="7">7 piezas</option>
	<option value="8">8 piezas</option>
	<option value="9">9 piezas</option>
	<option value="10">10 piezas</option>
    <option value="15">15 piezas</option>
    <option value="20">20 piezas</option>
 </select>
 <select id="lista_color_flores_fondant_11" name="" class="decorado" required>
 	<option value="">Color</option>
	<option value="Blanco">Blanco</option>
	<option value="Rojo">Rojo</option>
	<option value="Amarillo">Amarillo</option>
	<option value="Rosa">Rosa</option>
	<option value="Naranja">Naranja</option>
	<option value="Lila">Lila</option>
	<option value="Morado">Morado</option>
    <option value="Verde">Verde</option>
    <option value="Azul">Azul</option>
    <option value="Turquesa">Turquesa</option>
	<option value="Dorado">Dorado</option>
	<option value="Plateado">Plateado</option>
</select>
</div>

<!--12 LILI CON HOJAS-->         
<div class="mediabox">
  <label class="decorado-extra">
    <input name="decorado_flores_fondant" value="Lili con hojas" id="lili_hojas_fondant">
 	<img src="decorado/sharons-pasteleria-panaderia-cafeteria-acapulco-decorado-fondant_12.jpg">
<p>Lili con hojas 15cm<br>
<span class="costo_adi">Pieza $180 pesos</span></label>

 <select id="lista_flores_fondant_12" name="Lili con hojas 15cm | 180" class="decorado" required>
 	<option value="0">Piezas</option>
	<option value="1">1 pieza</option>
	<option value="2">2 piezas</option>
	<option value="3">3 piezas</option>
	<option value="4">4 piezas</option>
	<option value="5">5 piezas</option>
	<option value="6">6 piezas</option>
	<option value="7">7 piezas</option>
	<option value="8">8 piezas</option>
	<option value="9">9 piezas</option>
	<option value="10">10 piezas</option>
    <option value="15">15 piezas</option>
    <option value="20">20 piezas</option>
 </select>
 <select id="lista_color_flores_fondant_12" name="" class="decorado" required>
 	<option value="">Color</option>
	<option value="Blanco">Blanco</option>
	<option value="Rojo">Rojo</option>
	<option value="Amarillo">Amarillo</option>
	<option value="Rosa">Rosa</option>
	<option value="Naranja">Naranja</option>
	<option value="Lila">Lila</option>
	<option value="Morado">Morado</option>
    <option value="Verde">Verde</option>
    <option value="Azul">Azul</option>
    <option value="Turquesa">Turquesa</option>
	<option value="Dorado">Dorado</option>
	<option value="Plateado">Plateado</option>
</select>
</div>

<!--13 LILI-->         
<div class="mediabox">
  <label class="decorado-extra">
  <input name="decorado_flores_fondant" value="Lili" id="lili_fondant">
 	<img src="decorado/sharons-pasteleria-panaderia-cafeteria-acapulco-decorado-fondant_13.jpg">
<p>Lili 15cm<br>
<span class="costo_adi">Pieza $150 pesos</span></label>

 <select id="lista_flores_fondant_13" name="Lili 15cm | 150" class="decorado" required>
 	<option value="0">Piezas</option>
	<option value="1">1 pieza</option>
	<option value="2">2 piezas</option>
	<option value="3">3 piezas</option>
	<option value="4">4 piezas</option>
	<option value="5">5 piezas</option>
	<option value="6">6 piezas</option>
	<option value="7">7 piezas</option>
	<option value="8">8 piezas</option>
	<option value="9">9 piezas</option>
	<option value="10">10 piezas</option>
    <option value="15">15 piezas</option>
    <option value="20">20 piezas</option>
 </select>
 <select id="lista_color_flores_fondant_13" name="" class="decorado" required>
 	<option value="">Color</option>
	<option value="Blanco">Blanco</option>
	<option value="Rojo">Rojo</option>
	<option value="Amarillo">Amarillo</option>
	<option value="Rosa">Rosa</option>
	<option value="Naranja">Naranja</option>
	<option value="Lila">Lila</option>
	<option value="Morado">Morado</option>
    <option value="Verde">Verde</option>
    <option value="Azul">Azul</option>
    <option value="Turquesa">Turquesa</option>
	<option value="Dorado">Dorado</option>
	<option value="Plateado">Plateado</option>
</select>
</div>

<!--14 ORQUIDEA-->         
<div class="mediabox">
  <label class="decorado-extra">
  <input name="decorado_flores_fondant" value="Orquidea" id="orquidea_fondant">
 	<img src="decorado/sharons-pasteleria-panaderia-cafeteria-acapulco-decorado-fondant_14.jpg">
<p>Orquídea 15cm<br>
<span class="costo_adi">Pieza $180 pesos</span></label>

 <select id="lista_flores_fondant_14" name="Orquídea 15cm | 180" class="decorado" required>
 	<option value="0">Piezas</option>
	<option value="1">1 pieza</option>
	<option value="2">2 piezas</option>
	<option value="3">3 piezas</option>
	<option value="4">4 piezas</option>
	<option value="5">5 piezas</option>
	<option value="6">6 piezas</option>
	<option value="7">7 piezas</option>
	<option value="8">8 piezas</option>
	<option value="9">9 piezas</option>
	<option value="10">10 piezas</option>
    <option value="15">15 piezas</option>
    <option value="20">20 piezas</option>
 </select>
 <select id="lista_color_flores_fondant_14" name="" class="decorado" required>
 	<option value="">Color</option>
	<option value="Blanco">Blanco</option>
	<option value="Rojo">Rojo</option>
	<option value="Amarillo">Amarillo</option>
	<option value="Rosa">Rosa</option>
	<option value="Naranja">Naranja</option>
	<option value="Lila">Lila</option>
	<option value="Morado">Morado</option>
    <option value="Verde">Verde</option>
    <option value="Azul">Azul</option>
    <option value="Turquesa">Turquesa</option>
	<option value="Dorado">Dorado</option>
	<option value="Plateado">Plateado</option>
</select>
</div>

<!--15 FLOR PEONIA--> 
<div class="mediabox">
  <label class="decorado-extra">
    <input name="decorado_flores_fondant" value="Peonía" id="peonia_fondant">
 	<img src="decorado/sharons-pasteleria-panaderia-cafeteria-acapulco-decorado-fondant_15.jpg">
<p>Peonía 25cm<br>
<span class="costo_adi">Pieza $250 pesos</span></label>

 <select id="lista_flores_fondant_15" name="Peonía 25cm | 250" class="decorado" required>
 	<option value="0">Piezas</option>
	<option value="1">1 pieza</option>
	<option value="2">2 piezas</option>
	<option value="3">3 piezas</option>
	<option value="4">4 piezas</option>
	<option value="5">5 piezas</option>
	<option value="6">6 piezas</option>
	<option value="7">7 piezas</option>
	<option value="8">8 piezas</option>
	<option value="9">9 piezas</option>
	<option value="10">10 piezas</option>
    <option value="15">15 piezas</option>
    <option value="20">20 piezas</option>
 </select>
  <select id="lista_color_flores_fondant_15"  class="decorado" required>
 	<option value="">Color</option>
	<option value="Blanco">Blanco</option>
	<option value="Rojo">Rojo</option>
	<option value="Amarillo">Amarillo</option>
	<option value="Rosa">Rosa</option>
	<option value="Naranja">Naranja</option>
	<option value="Lila">Lila</option>
	<option value="Morado">Morado</option>
    <option value="Verde">Verde</option>
    <option value="Azul">Azul</option>
    <option value="Turquesa">Turquesa</option>
	<option value="Dorado">Dorado</option>
	<option value="Plateado">Plateado</option>
</select>
</div>

<!--16 ORQUIDEA SINGAPUR--> 
<div class="mediabox">
  <label class="decorado-extra">
    <input name="decorado_flores_fondant" value="Orquidea Singapur" id="orquidea_singapur_fondant">
 	<img src="decorado/sharons-pasteleria-panaderia-cafeteria-acapulco-decorado-fondant_16.jpg">
<p>Orquidea Singapur 20cm<br>
<span class="costo_adi">Pieza $300 pesos</span></label>

 <select id="lista_flores_fondant_16" name="Orquidea Singapur 20cm | 300"  class="decorado" required>
 	<option value="0">Piezas</option>
	<option value="1">1 pieza</option>
	<option value="2">2 piezas</option>
	<option value="3">3 piezas</option>
	<option value="4">4 piezas</option>
	<option value="5">5 piezas</option>
	<option value="6">6 piezas</option>
	<option value="7">7 piezas</option>
	<option value="8">8 piezas</option>
	<option value="9">9 piezas</option>
	<option value="10">10 piezas</option>
    <option value="15">15 piezas</option>
    <option value="20">20 piezas</option>
 </select>
 <select id="lista_color_flores_fondant_16" class="decorado" required>
 	<option value="">Color</option>
	<option value="Blanco">Blanco</option>
	<option value="Rojo">Rojo</option>
	<option value="Amarillo">Amarillo</option>
	<option value="Rosa">Rosa</option>
	<option value="Naranja">Naranja</option>
	<option value="Lila">Lila</option>
	<option value="Morado">Morado</option>
    <option value="Verde">Verde</option>
    <option value="Azul">Azul</option>
    <option value="Turquesa">Turquesa</option>
	<option value="Dorado">Dorado</option>
	<option value="Plateado">Plateado</option>
</select>
</div>

<!--17 ROSA GRANDE--> 
<div class="mediabox">
  <label class="decorado-extra">
    <input name="decorado_flores_fondant" value="Rosa grande" id="rosa_grande_fondant">
 	<img src="decorado/sharons-pasteleria-panaderia-cafeteria-acapulco-decorado-fondant_17.jpg">
<p>Rosa grande<br>
<span class="costo_adi">Pieza $75 pesos</span></label>

<select id="lista_flores_fondant_17" name="Rosa grande | 75" class="decorado" required>
 	<option value="0">Piezas</option>
	<option value="1">1 pieza</option>
	<option value="2">2 piezas</option>
	<option value="3">3 piezas</option>
	<option value="4">4 piezas</option>
	<option value="5">5 piezas</option>
	<option value="6">6 piezas</option>
	<option value="7">7 piezas</option>
	<option value="8">8 piezas</option>
	<option value="9">9 piezas</option>
	<option value="10">10 piezas</option>
    <option value="15">15 piezas</option>
    <option value="20">20 piezas</option>
 </select>
 <select id="lista_color_flores_fondant_17"  class="decorado" required>
 	<option value="">Color</option>
	<option value="Blanco">Blanco</option>
	<option value="Rojo">Rojo</option>
	<option value="Amarillo">Amarillo</option>
	<option value="Rosa">Rosa</option>
	<option value="Naranja">Naranja</option>
	<option value="Lila">Lila</option>
	<option value="Morado">Morado</option>
    <option value="Verde">Verde</option>
    <option value="Azul">Azul</option>
    <option value="Turquesa">Turquesa</option>
	<option value="Dorado">Dorado</option>
	<option value="Plateado">Plateado</option>
</select>
</div>

<!--18 FLOR DE AGUAS--> 
<div class="mediabox">
  <label class="decorado-extra">
    <input name="decorado_flores_fondant" value="Flor de aguas" id="flor_de_aguas_fondant">
 	<img src="decorado/sharons-pasteleria-panaderia-cafeteria-acapulco-decorado-fondant_18.jpg">
<p>Flor de aguas 5cm<br>
<span class="costo_adi">Pieza $10 pesos</span></label>

<select id="lista_flores_fondant_18" name="Flor de aguas 5cm | 10" class="decorado" required>
 	<option value="">Piezas</option>
	<option value="1">1 pieza</option>
	<option value="2">2 piezas</option>
	<option value="3">3 piezas</option>
	<option value="4">4 piezas</option>
	<option value="5">5 piezas</option>
	<option value="6">6 piezas</option>
	<option value="7">7 piezas</option>
	<option value="8">8 piezas</option>
	<option value="9">9 piezas</option>
	<option value="10">10 piezas</option>
    <option value="15">15 piezas</option>
    <option value="20">20 piezas</option>
</select>
<select id="lista_color_flores_18" name="" class="decorado" required>
 	<option value="">Color</option>
	<option value="Blanco">Blanco</option>
	<option value="Rojo">Rojo</option>
	<option value="Amarillo">Amarillo</option>
	<option value="Rosa">Rosa</option>
	<option value="Naranja">Naranja</option>
	<option value="Lila">Lila</option>
	<option value="Morado">Morado</option>
    <option value="Verde">Verde</option>
    <option value="Azul">Azul</option>
    <option value="Turquesa">Turquesa</option>
	<option value="Dorado">Dorado</option>
	<option value="Plateado">Plateado</option>
</select>
</div>

<!--19 CAMPANILLA CHINA--> 
<div class="mediabox">
  <label class="decorado-extra">
    <input name="decorado_flores_fondant" value="Campanilla China" id="campanilla_china_fondant">
 	<img src="decorado/sharons-pasteleria-panaderia-cafeteria-acapulco-decorado-fondant_19.jpg">
<p>Campanilla China<br>
<span class="costo_adi">Docena $100 pesos</span></label>

<select id="lista_flores_fondant_19" name="Campanilla China | 100" class="decorado" required>
 	<option value="">Docenas</option>
	<option value="1">1 docena</option>
	<option value="2">2 docenas</option>
	<option value="3">3 docenas</option>
	<option value="4">4 docenas</option>
	<option value="5">5 docenas</option>
	<option value="6">6 docenas</option>
	<option value="7">7 docenas</option>
	<option value="8">8 docenas</option>
	<option value="9">9 docenas</option>
	<option value="10">10 docenas</option>
</select>
<select id="lista_color_flores_fondant_19" name="" class="decorado" required>
 	<option value="">Color</option>
	<option value="Blanco">Blanco</option>
	<option value="Rojo">Rojo</option>
	<option value="Amarillo">Amarillo</option>
	<option value="Rosa">Rosa</option>
	<option value="Naranja">Naranja</option>
	<option value="Lila">Lila</option>
	<option value="Morado">Morado</option>
    <option value="Verde">Verde</option>
    <option value="Azul">Azul</option>
    <option value="Turquesa">Turquesa</option>
	<option value="Dorado">Dorado</option>
	<option value="Plateado">Plateado</option>
</select>
</div>

<!--20 MIMOSA--> 
<div class="mediabox">
  <label class="decorado-extra">
    <input name="decorado_flores_fondant" value="Mimosa" id="mimosa_fondant">
 	<img src="decorado/sharons-pasteleria-panaderia-cafeteria-acapulco-decorado-fondant_20.jpg">
<p>Mimosa<br>
<span class="costo_adi">Docena $90 pesos</span></label>

<select id="lista_flores_fondant_20" name="Mimosa | 90" class="decorado" required>
 	<option value="">Docenas</option>
	<option value="1">1 docena</option>
	<option value="2">2 docenas</option>
	<option value="3">3 docenas</option>
	<option value="4">4 docenas</option>
	<option value="5">5 docenas</option>
	<option value="6">6 docenas</option>
	<option value="7">7 docenas</option>
	<option value="8">8 docenas</option>
	<option value="9">9 docenas</option>
	<option value="10">10 docenas</option>
</select>
<select id="lista_color_flores_fondant_20" name="" class="decorado" required>
 	<option value="">Color</option>
	<option value="Blanco">Blanco</option>
	<option value="Rojo">Rojo</option>
	<option value="Amarillo">Amarillo</option>
	<option value="Rosa">Rosa</option>
	<option value="Naranja">Naranja</option>
	<option value="Lila">Lila</option>
	<option value="Morado">Morado</option>
    <option value="Verde">Verde</option>
    <option value="Azul">Azul</option>
    <option value="Turquesa">Turquesa</option>
	<option value="Dorado">Dorado</option>
	<option value="Plateado">Plateado</option>
</select>
</div>

<!--21 JACINTO--> 
<div class="mediabox">
  <label class="decorado-extra">
    <input name="decorado_flores_fondant" value="Jacinto" id="jacinto_fondant">
 	<img src="decorado/sharons-pasteleria-panaderia-cafeteria-acapulco-decorado-fondant_21.jpg">
<p>Jacinto<br>
<span class="costo_adi">Docena $120 pesos</span></label>

<select id="lista_flores_fondant_21" name="Jacinto | 120" class="decorado" required>
 	<option value="">Docenas</option>
	<option value="1">1 docena</option>
	<option value="2">2 docenas</option>
	<option value="3">3 docenas</option>
	<option value="4">4 docenas</option>
	<option value="5">5 docenas</option>
	<option value="6">6 docenas</option>
	<option value="7">7 docenas</option>
	<option value="8">8 docenas</option>
	<option value="9">9 docenas</option>
	<option value="10">10 docenas</option>
</select>
<select id="lista_color_flores_fondant_21" name="" class="decorado" required>
 	<option value="">Color</option>
	<option value="Blanco">Blanco</option>
	<option value="Rojo">Rojo</option>
	<option value="Amarillo">Amarillo</option>
	<option value="Rosa">Rosa</option>
	<option value="Naranja">Naranja</option>
	<option value="Lila">Lila</option>
	<option value="Morado">Morado</option>
    <option value="Verde">Verde</option>
    <option value="Azul">Azul</option>
    <option value="Turquesa">Turquesa</option>
	<option value="Dorado">Dorado</option>
	<option value="Plateado">Plateado</option>
</select>
</div>

<!--22 FLOR LATEX CHICA--> 
<div class="mediabox">
  <label class="decorado-extra">
    <input name="decorado_flores_fondant" value="Flor latex chica" id="flor_latex_chica">
 	<img src="decorado/sharons-pasteleria-panaderia-cafeteria-acapulco-decorado-fondant_22.jpg">
<p>Flor látex<br>chica 5cm<br>
<span class="costo_adi">Pieza $45 pesos</span></label>

<select id="lista_flores_fondant_22" name="Flor látex chica 5cm | 45" class="decorado" required>
 	<option value="">Piezas</option>
	<option value="1">1 pieza</option>
	<option value="2">2 piezas</option>
	<option value="3">3 piezas</option>
	<option value="4">4 piezas</option>
	<option value="5">5 piezas</option>
	<option value="6">6 piezas</option>
	<option value="7">7 piezas</option>
	<option value="8">8 piezas</option>
	<option value="9">9 piezas</option>
	<option value="10">10 piezas</option>
    <option value="15">15 piezas</option>
    <option value="20">20 piezas</option>
</select><br><br>
</div>

<!--23 FLOR LATEX CHICA CON BROCHE (1)--> 
<div class="mediabox">
  <label class="decorado-extra">
    <input name="decorado_flores_fondant" value="Flor latex chica con broche (1)" id="flor_latex_chica_broche_1">
 	<img src="decorado/sharons-pasteleria-panaderia-cafeteria-acapulco-decorado-fondant_23.jpg">
<p>Flor látex chica (5cm) con broche<br>
<span class="costo_adi">Pieza $120 pesos</span></label>

<select id="lista_flores_fondant_23" name="Flor látex chica (5cm) con broche | 120" class="decorado" required>
 	<option value="">Piezas</option>
	<option value="1">1 pieza</option>
	<option value="2">2 piezas</option>
	<option value="3">3 piezas</option>
	<option value="4">4 piezas</option>
	<option value="5">5 piezas</option>
	<option value="6">6 piezas</option>
	<option value="7">7 piezas</option>
	<option value="8">8 piezas</option>
	<option value="9">9 piezas</option>
	<option value="10">10 piezas</option>
    <option value="15">15 piezas</option>
    <option value="20">20 piezas</option>
</select><br><br>
</div>

<!--24 FLOR LATEX CHICA CON BROCHE (2)--> 
<div class="mediabox">
  <label class="decorado-extra">
    <input name="decorado_flores_fondant" value="Flor latex chica con broche (2)" id="flor_latex_chica_broche_2">
 	<img src="decorado/sharons-pasteleria-panaderia-cafeteria-acapulco-decorado-fondant_24.jpg">
<p>Flor látex chica (5cm) con broche<br>
<span class="costo_adi">Pieza $130 pesos</span></label>

<select id="lista_flores_fondant_24" name="Flor látex chica (5cm) con broche | 130" class="decorado" required>
 	<option value="">Piezas</option>
	<option value="1">1 pieza</option>
	<option value="2">2 piezas</option>
	<option value="3">3 piezas</option>
	<option value="4">4 piezas</option>
	<option value="5">5 piezas</option>
	<option value="6">6 piezas</option>
	<option value="7">7 piezas</option>
	<option value="8">8 piezas</option>
	<option value="9">9 piezas</option>
	<option value="10">10 piezas</option>
    <option value="15">15 piezas</option>
    <option value="20">20 piezas</option>
</select><br><br>
</div>

<!--25 FLOR LATEX GRANDE--> 
<div class="mediabox">
  <label class="decorado-extra">
    <input name="decorado_flores_fondant" value="Flor latex grande" id="flor_latex_grande">
 	<img src="decorado/sharons-pasteleria-panaderia-cafeteria-acapulco-decorado-fondant_25.jpg">
<p>Flor látex grande 15cm<br>
<span class="costo_adi">Pieza $70 pesos</span></label>

<select id="lista_flores_fondant_25" name="Flor látex grande 15cm | 70" class="decorado" required>
 	<option value="">Piezas</option>
	<option value="1">1 pieza</option>
	<option value="2">2 piezas</option>
	<option value="3">3 piezas</option>
	<option value="4">4 piezas</option>
	<option value="5">5 piezas</option>
	<option value="6">6 piezas</option>
	<option value="7">7 piezas</option>
	<option value="8">8 piezas</option>
	<option value="9">9 piezas</option>
	<option value="10">10 piezas</option>
    <option value="15">15 piezas</option>
    <option value="20">20 piezas</option>
</select>
</div>

<!--26 FLOR LATEX GRANDE CON BROCHE--> 
<div class="mediabox">
  <label class="decorado-extra">
    <input name="decorado_flores_fondant" value="Flor latex grande con broche" id="flor_latex_grande_broche">
 	<img src="decorado/sharons-pasteleria-panaderia-cafeteria-acapulco-decorado-fondant_26.jpg">
<p>Flor látex grande (15cm) con broche<br>
<span class="costo_adi">Pieza $180 pesos</span></label>

<select id="lista_flores_fondant_26" name="Flor látex grande (15cm) con broche | 180" class="decorado" required>
 	<option value="">Piezas</option>
	<option value="1">1 pieza</option>
	<option value="2">2 piezas</option>
	<option value="3">3 piezas</option>
	<option value="4">4 piezas</option>
	<option value="5">5 piezas</option>
	<option value="6">6 piezas</option>
	<option value="7">7 piezas</option>
	<option value="8">8 piezas</option>
	<option value="9">9 piezas</option>
	<option value="10">10 piezas</option>
    <option value="15">15 piezas</option>
    <option value="20">20 piezas</option>
</select>
</div>
        
</section>
    
<!--SECCION 2-->              
<section id="section-2">
	<div id="decorado-title"><span class="subtitulo"><span
     style="color:#e39513">Agrega</span> flores naturales <span
     style="color:#e39513">a tu pastel</span></span></div>
     
<!--1 ASTROMELIA--> 
<div class="mediabox">
  <label class="decorado-extra">
    <input name="decorado_flores_naturales" value="Astromelia" id="astromelia_natural">
 	<img src="decorado/sharons-pasteleria-panaderia-cafeteria-acapulco-decorado-flores-naturales_01.jpg">
<p>Astromelia<br>
<span class="costo_adi">10 piezas $120 pesos</span></label>

<select id="lista_flores_naturales_1" name="Astromelia | 120" class="decorado" required>
 	<option value="">Paquetes</option>
	<option value="1_paquete">10 pieza</option>
	<option value="2_paquetes">20 piezas</option>
	<option value="3_paquetes">30 piezas</option>
	<option value="4_paquetes">40 piezas</option>
	<option value="5_paquetes">50 piezas</option>
</select>
<select id="lista_color_flores_naturales_1" name="" class="decorado" required>
 	<option value="">Color</option>
	<option value="Blanco">Blanca</option>
	<option value="Rosa">Rosa</option>
</select>
</div>
                      
<!--2 CASABLANCA--> 
<div class="mediabox">
  <label class="decorado-extra">
    <input name="decorado_flores_naturales" value="Casablanca" id="casablanca_natural">
 	<img src="decorado/sharons-pasteleria-panaderia-cafeteria-acapulco-decorado-flores-naturales_02.jpg">
<p>Casablanca<br>
<span class="costo_adi">Pieza $140 pesos</span></label>

<select id="lista_flores_naturales_2" name="Casablanca | 140" class="decorado" required>
 	<option value="">Piezas</option>
	<option value="1">1 pieza</option>
	<option value="2">2 piezas</option>
	<option value="3">3 piezas</option>
	<option value="4">4 piezas</option>
	<option value="5">5 piezas</option>
	<option value="6">6 piezas</option>
	<option value="7">7 piezas</option>
	<option value="8">8 piezas</option>
	<option value="9">9 piezas</option>
	<option value="10">10 piezas</option>
    <option value="15">15 piezas</option>
    <option value="20">20 piezas</option>
</select>
<select id="lista_color_flores_naturales_2" name="" class="decorado" required>
 	<option value="">Color</option>
	<option value="Blanco">Blanca</option>
</select>
</div>

<!--3 ACAPULCO--> 
<div class="mediabox">
  <label class="decorado-extra">
    <input name="decorado_flores_naturales" value="Acapulco" id="acapulco_natural">
 	<img src="decorado/sharons-pasteleria-panaderia-cafeteria-acapulco-decorado-flores-naturales_03.jpg">
<p>Acapulco<br>
<span class="costo_adi">Pieza $140 pesos</span></label>

<select id="lista_flores_naturales_3" name="Acapulco | 140" class="decorado" required>
 	<option value="">Piezas</option>
	<option value="1">1 pieza</option>
	<option value="2">2 piezas</option>
	<option value="3">3 piezas</option>
	<option value="4">4 piezas</option>
	<option value="5">5 piezas</option>
	<option value="6">6 piezas</option>
	<option value="7">7 piezas</option>
	<option value="8">8 piezas</option>
	<option value="9">9 piezas</option>
	<option value="10">10 piezas</option>
    <option value="15">15 piezas</option>
    <option value="20">20 piezas</option>
</select>
<select id="lista_color_flores_naturales_3" name="" class="decorado" required>
 	<option value="">Color</option>
	<option value="Rosa">Rosa</option>
</select>
</div>
        
<!--4 LILI--> 
<div class="mediabox">
  <label class="decorado-extra">
    <input name="decorado_flores_naturales" value="Lili" id="Lili_natural">
 	<img src="decorado/sharons-pasteleria-panaderia-cafeteria-acapulco-decorado-flores-naturales_04.jpg">
<p>Lili<br>
<span class="costo_adi">Pieza $90 pesos</span></label>

<select id="lista_flores_naturales_4" name="Lili | 90" class="decorado" required>
 	<option value="">Piezas</option>
	<option value="1">1 pieza</option>
	<option value="2">2 piezas</option>
	<option value="3">3 piezas</option>
	<option value="4">4 piezas</option>
	<option value="5">5 piezas</option>
	<option value="6">6 piezas</option>
	<option value="7">7 piezas</option>
	<option value="8">8 piezas</option>
	<option value="9">9 piezas</option>
	<option value="10">10 piezas</option>
    <option value="15">15 piezas</option>
    <option value="20">20 piezas</option>
</select>
<select id="lista_color_flores_naturales_4" name="" class="decorado" required>
 	<option value="">Color</option>
	<option value="Amarilla">Amarilla</option>
    <option value="Blanca">Blanca</option>
    <option value="Naranja">Naranja</option>
    <option value="Rosa">Rosa</option>
    <option value="Roja">Roja</option>
    <option value="Azul">Azul</option>
    <option value="Morada">Morada</option>
    <option value="Lila">Lila</option>
    <option value="Verde_aqua">Verde aqua</option>
</select>
</div>
        
<!--5 ROSAS--> 
<div class="mediabox">
  <label class="decorado-extra">
    <input name="decorado_flores_naturales" value="Rosa" id="Rosa_natural">
 	<img src="decorado/sharons-pasteleria-panaderia-cafeteria-acapulco-decorado-flores-naturales_05.jpg">
<p>Rosa<br>
<span class="costo_adi">Pieza $80 pesos</span></label>

<select id="lista_flores_naturales_5" name="Rosa | 80" class="decorado" required>
 	<option value="">Piezas</option>
	<option value="1">1 pieza</option>
	<option value="2">2 piezas</option>
	<option value="3">3 piezas</option>
	<option value="4">4 piezas</option>
	<option value="5">5 piezas</option>
	<option value="6">6 piezas</option>
	<option value="7">7 piezas</option>
	<option value="8">8 piezas</option>
	<option value="9">9 piezas</option>
	<option value="10">10 piezas</option>
    <option value="15">15 piezas</option>
    <option value="20">20 piezas</option>
</select>
<select id="lista_color_flores_naturales_5" name="" class="decorado" required>
	<option value="">Color</option>
	<option value="Amarilla">Amarilla</option>
    <option value="Blanca">Blanca</option>
    <option value="Naranja">Naranja</option>
    <option value="Rosa">Rosa</option>
    <option value="Roja">Roja</option>
    <option value="Azul">Azul</option>
    <option value="Morada">Morada</option>
    <option value="Lila">Lila</option>
    <option value="Verde_aqua">Verde aqua</option>
</select>
</div>

<!--6 ROSAS--> 
<div class="mediabox">
  <label class="decorado-extra">
    <input name="decorado_flores_naturales" value="Rosa" id="Rosa_docena_natural">
 	<img src="decorado/sharons-pasteleria-panaderia-cafeteria-acapulco-decorado-flores-naturales_06.jpg">
<p>Rosas<br>
<span class="costo_adi">Docena $350 pesos</span></label>

<select id="lista_flores_naturales_6" name="Rosas | 350" class="decorado" required>
 	<option value="">Docenas</option>
	<option value="1">1 docena</option>
	<option value="2">2 docenas</option>
	<option value="3">3 docenas</option>
	<option value="4">4 docenas</option>
	<option value="5">5 docenas</option>
	<option value="6">6 docenas</option>
	<option value="7">7 docenas</option>
	<option value="8">8 docenas</option>
	<option value="9">9 docenas</option>
	<option value="10">10 docenas</option>
</select>
<select id="lista_color_flores_6" name="" class="decorado" required>
	<option value="">Color</option>
	<option value="Amarilla">Amarilla</option>
    <option value="Blanca">Blanca</option>
    <option value="Naranja">Naranja</option>
    <option value="Rosa">Rosa</option>
    <option value="Roja">Roja</option>
    <option value="Azul">Azul</option>
    <option value="Morada">Morada</option>
    <option value="Lila">Lila</option>
    <option value="Verde_aqua">Verde aqua</option>
</select>
</div>
    
<!--7 GERBERA--> 
<div class="mediabox">
  <label class="decorado-extra">
    <input name="decorado_flores_naturales" value="Gerbera" id="Gerbera_natural">
 	<img src="decorado/sharons-pasteleria-panaderia-cafeteria-acapulco-decorado-flores-naturales_07.jpg">
<p>Gerbera<br>
<span class="costo_adi">Pieza $70 pesos</span></label>

<select id="lista_flores_naturales_7" name="Gerbera | 70" class="decorado" required>
 	<option value="">Piezas</option>
	<option value="1">1 pieza</option>
	<option value="2">2 piezas</option>
	<option value="3">3 piezas</option>
	<option value="4">4 piezas</option>
	<option value="5">5 piezas</option>
	<option value="6">6 piezas</option>
	<option value="7">7 piezas</option>
	<option value="8">8 piezas</option>
	<option value="9">9 piezas</option>
	<option value="10">10 piezas</option>
    <option value="15">15 piezas</option>
    <option value="20">20 piezas</option>
</select>
<select id="lista_color_flores_naturales_7" name="" class="decorado" required>
	<option value="">Color</option>
	<option value="Amarilla">Amarilla</option>
    <option value="Blanca">Blanca</option>
    <option value="Naranja">Naranja</option>
    <option value="Rosa">Rosa</option>
    <option value="Roja">Roja</option>
    <option value="Azul">Azul</option>
    <option value="Morada">Morada</option>
    <option value="Lila">Lila</option>
    <option value="Verde_aqua">Verde aqua</option>
</select>
</div>
    
<!--8 GIPSOFILA--> 
<div class="mediabox">
  <label class="decorado-extra">
    <input name="decorado_flores_naturales" value="Gipsofila" id="Gipsofila_natural">
 	<img src="decorado/sharons-pasteleria-panaderia-cafeteria-acapulco-decorado-flores-naturales_08.jpg">
<p>Gipsofila<br>
<span class="costo_adi">Manojo $200 pesos</span></label>

<select id="lista_flores_naturales_8" name="Gipsofila | 200" class="decorado" required>
 	<option value="">Manojos</option>
	<option value="1">1 manojo</option>
	<option value="2">2 manojos</option>
	<option value="3">3 manojos</option>
	<option value="4">4 manojos</option>
	<option value="5">5 manojos</option>
	<option value="6">6 manojos</option>
	<option value="7">7 manojos</option>
	<option value="8">8 manojos</option>
	<option value="9">9 manojos</option>
	<option value="10">10 manojos</option>
</select>
<select id="lista_color_flores_naturales_8" name="" class="decorado" required>
	<option value="">Color</option>
    <option value="Blanca">Blanca</option>
</select>
</div>

<!--9 TULIPAN--> 
<div class="mediabox">
  <label class="decorado-extra">
    <input name="decorado_flores_naturales" value="Tulipan" id="Tulipan_natural">
 	<img src="decorado/sharons-pasteleria-panaderia-cafeteria-acapulco-decorado-flores-naturales_09.jpg">
<p>Tulipán<br>
<span class="costo_adi">10 piezas $650 pesos</span></label>

<select id="lista_flores_naturales_9" name="Tulipán | 650" class="decorado" required>
 	<option value="">Paquete</option>
	<option value="1_paquete">10 pieza</option>
	<option value="2_paquetes">20 piezas</option>
	<option value="3_paquetes">30 piezas</option>
	<option value="4_paquetes">40 piezas</option>
	<option value="5_paquetes">50 piezas</option>
</select>
<select id="lista_color_flores_naturales_9" name="" class="decorado" required>
	<option value="">Color</option>
    <option value="Blanco">Blanco</option>
    <option value="Amarillo">Amarillo</option>
    <option value="Naranja">Naranja</option>
    <option value="Rosa">Rosa</option>
    <option value="Morado">Morado</option>
    <option value="Rojo">Rojo</option>
</select>
</div>

<!--10 ORQUIDEA--> 
<div class="mediabox">
  <label class="decorado-extra">
    <input name="decorado_flores_naturales" value="Orquidea" id="Orquidea_natural">
 	<img src="decorado/sharons-pasteleria-panaderia-cafeteria-acapulco-decorado-flores-naturales_10.jpg">
<p>Orquídea<br>
<span class="costo_adi">Pieza $520 pesos</span></label>

<select id="lista_flores_naturales_10" name="Orquídea | 520" class="decorado" required>
 	<option value="">Piezas</option>
	<option value="1">1 pieza</option>
	<option value="2">2 piezas</option>
	<option value="3">3 piezas</option>
	<option value="4">4 piezas</option>
	<option value="5">5 piezas</option>
	<option value="6">6 piezas</option>
	<option value="7">7 piezas</option>
	<option value="8">8 piezas</option>
	<option value="9">9 piezas</option>
	<option value="10">10 piezas</option>
    <option value="15">15 piezas</option>
    <option value="20">20 piezas</option>
</select>
<select id="lista_color_flores_naturales_10" name="" class="decorado" required>
	<option value="">Color</option>
    <option value="Negra">Negra</option>
    <option value="Verde">Verde</option>
    <option value="Amarilla">Amarilla</option>
    <option value="Rosa">Rosa</option>
    <option value="Blanca">Blanca</option>
    <option value="Morada">Morada</option>
</select>
</div>
    

</section>
                    
                    
	<section id="section-3"><!--SECCION 3-->
<div id="decorado-title"><span class="subtitulo"><span
     style="color:#e39513">Productos</span> adicionales <span
     style="color:#e39513">para tu pastel</span></span></div>
                      
<!--1 PLUMA LARGA--> 
<div class="mediabox">
  <label class="decorado-extra">
    <input name="decorado_adicionales" value="Pluma larga" id="pluma_larga_adicional">
<img src="decorado/sharons-pasteleria-panaderia-cafeteria-acapulco-decorado-adicionales_01.jpg">
<p>Pluma larga<br>
<span class="costo_adi">Pieza $230 pesos</span></p></label>

<select id="lista_adicionales_1" name="Pluma larga | 230" class="decorado" required>
		 <option value="0">Piezas</option>
         <option value="1">1 pieza</option>
         <option value="2">2 piezas</option>		 
		  <option value="3">3 piezas</option>
		  <option value="4">4 piezas</option>
		  <option value="5">5 piezas</option>
		  <option value="6">6 piezas</option>
		  <option value="7">7 piezas</option>
		  <option value="8">8 piezas</option>
		  <option value="9">9 piezas</option>
		  <option value="10">10 piezas</option>
          <option value="11">11 piezas</option>
          <option value="12">12 piezas</option>
          <option value="13">13 piezas</option>
          <option value="14">14 piezas</option>
          <option value="15">15 piezas</option>
		 </select>
<select id="lista_color_adicionales_1"  class="decorado" required>
 	<option value="">Color</option>
	<option value="Blanco">Blanco</option>
	<option value="Rojo">Rojo</option>
	<option value="Amarillo">Amarillo</option>
	<option value="Rosa">Rosa</option>
	<option value="Naranja">Naranja</option>
	<option value="Lila">Lila</option>
	<option value="Morado">Morado</option>
    <option value="Verde">Verde</option>
    <option value="Azul">Azul</option>
    <option value="Turquesa">Turquesa</option>
	<option value="Dorado">Dorado</option>
	<option value="Plateado">Plateado</option>
</select>
	</div>
    
<!--2 MARIPOSA SINTÉTICA--> 
<div class="mediabox">
  <label class="decorado-extra">
    <input name="decorado_adicionales" value="Mariposa sintética" id="pluma_larga_adicional">
<img src="decorado/sharons-pasteleria-panaderia-cafeteria-acapulco-decorado-adicionales_02.jpg">
<p>Mariposa sintética<br>
<span class="costo_adi">Pieza $45 pesos</span></label>

<select id="lista_adicionales_2" name="Mariposa sintética | 45" class="decorado" required>
		 <option value="">Piezas</option>
         <option value="1">1 pieza</option>
         <option value="2">2 piezas</option>
		  <option value="3">3 piezas</option>
		  <option value="4">4 piezas</option>
		  <option value="5">5 piezas</option>
		  <option value="6">6 piezas</option>
		  <option value="7">7 piezas</option>
		  <option value="8">8 piezas</option>
		  <option value="9">9 piezas</option>
		  <option value="10">10 piezas</option>
          <option value="11">11 piezas</option>
          <option value="12">12 piezas</option>
          <option value="13">13 piezas</option>
          <option value="14">14 piezas</option>
          <option value="15">15 piezas</option>
		 </select>
<select id="lista_color_adicionales_2" name="" class="decorado" required>
 	<option value="">Color</option>
    <option value="Negro">Negro</option>
    <option value="Gris">Gris</option>
    <option value="Beige">Beige</option>
    <option value="Rojo">Rojo</option>
    <option value="Coral">Coral</option>
    <option value="Rosa">Rosa</option>
    <option value="Rosa_pastel">Rosa pastel</option>
    <option value="Palo_de_rosa">Palo de rosa</option>
    <option value="Rosa_nude">Rosa nude</option>
    <option value="Fucsia">Fucsia</option>
    <option value="Morado">Morado</option>
    <option value="Azulina">Azulina</option>
    <option value="Verde">Verde</option>
    <option value="Verde_menta">Verde menta</option>
    <option value="Verde_hoja">Verde hoja</option>
    <option value="Blanco">Blanco</option>
    <option value="Chocolate">Chocolate</option>
    <option value="Granate">Granate</option>
    <option value="Malva">Malva</option>
    <option value="Lila">Lila</option>
    <option value="Turquesa">Turquesa</option>
    <option value="Melocoton">Melocotón</option>
    <option value="Azul_pastel">Azul pastel</option>
    <option value="Verde_limon">Verde limón</option>
    <option value="Naranja">Naranja</option>
	<option value="Amarillo">Amarillo</option>
</select>
	</div>
    
<!--7 LISTON--> 
<div class="mediabox">
  <label class="decorado-extra">
  <input name="decorado_adicionales" value="Liston" id="Liston_adicional">
<img src="decorado/sharons-pasteleria-panaderia-cafeteria-acapulco-decorado-adicionales_07.jpg">
<p>Listón decorativo<br>
<span class="costo_adi">$1 peso por número de personas</span></label><br><br>
<select id="lista_color_adicionales_3" name="Listón decorativo | 1" class="decorado" required>
 	<option value="">Color</option>
    <option value="Negro">Negro</option>
    <option value="Gris">Gris</option>
    <option value="Beige">Beige</option>
    <option value="Rojo">Rojo</option>
    <option value="Coral">Coral</option>
    <option value="Coral">Cafe</option>
    <option value="Rosa">Rosa</option>
    <option value="Rosa_pastel">Rosa pastel</option>
    <option value="Fucsia">Fucsia</option>
    <option value="Morado">Morado</option>
    <option value="Verde">Verde</option>
    <option value="Aqua">Aqua</option>
    <option value="Jade">Jade</option>
    <option value="Blanco">Blanco</option>
    <option value="Lila">Lila</option>
    <option value="Turquesa">Turquesa</option>
    <option value="Azul_pastel">Azul pastel</option>
    <option value="Verde_limon">Verde limón</option>
    <option value="Naranja">Naranja</option>
	<option value="Amarillo">Amarillo</option>
</select>
	</div>
    
<!--11 CONCHAS Y CARACOLES--> 
<div class="mediabox">
  <label class="decorado-extra">
  <input name="decorado_adicionales" value="Conchas_caracoles_naturales" id="conchas_caracoles_naturales_adicional">
<img src="decorado/sharons-pasteleria-panaderia-cafeteria-acapulco-decorado-adicionales_11.jpg">
<p>Conchas y caracoles naturales<br>
<span class="costo_adi">Docena  $750 pesos. La foto puede variar</span></label>
 <select id="lista_adicionales_3" name="Conchas y caracoles naturales | 750" class="decorado" required>
	  <option value="0">Docenas</option>
	  <option value="1">1 docena</option>
	  <option value="2">2 docenas</option>
	  <option value="3">3 docenas</option>
	  <option value="4">4 docenas</option>
	  <option value="5">5 docenas</option>
	  <option value="6">6 docenas</option>
	  <option value="7">7 docenas</option>
	  <option value="8">8 docenas</option>
	  <option value="9">9 docenas</option>
	  <option value="10">10 docenas</option>
 </select>
	</div>
    
<!--12 CONCHAS Y CARACOLES FONDANT--> 
<div class="mediabox">
  <label class="decorado-extra">
  <input name="decorado_adicionales" value="Conchas_caracoles_fondant" id="conchas_caracoles_fondant_adicional">
<img src="decorado/sharons-pasteleria-panaderia-cafeteria-acapulco-decorado-adicionales_12.jpg">
<p>Conchas y caracoles naturales<br>
<span class="costo_adi">Docena  $750 pesos. La foto puede variar</span></label>
 <select id="lista_adicionales_4" name="Conchas y caracoles naturales | 750" class="decorado" required>
	  <option value="0">Docenas</option>
	  <option value="1">1 docena</option>
	  <option value="2">2 docenas</option>
	  <option value="3">3 docenas</option>
	  <option value="4">4 docenas</option>
	  <option value="5">5 docenas</option>
	  <option value="6">6 docenas</option>
	  <option value="7">7 docenas</option>
	  <option value="8">8 docenas</option>
	  <option value="9">9 docenas</option>
	  <option value="10">10 docenas</option>
 </select>
	</div>
    
<!--3 OBLEA IMPRESA--> 
<div class="mediabox">
  <label class="decorado-extra">
  <input name="decorado_adicionales" value="Oblea_impresa" id="oblea_impresa_adicional">
<img src="decorado/sharons-pasteleria-panaderia-cafeteria-acapulco-decorado-adicionales_03.jpg">
<p>Oblea impresa<br>
<span class="costo_adi">Pieza $80 pesos</span></p></label>

<select id="lista_adicionales_5" name="Oblea impresa | 80" class="decorado" required>
		 <option value="">Piezas</option>
         <option value="1">1 pieza</option>
		 </select>
	</div>
    
<!--4 OBLEA COMESTIBLE--> 
<div class="mediabox">
  <label class="decorado-extra">
  <input name="decorado_adicionales" value="Oblea_comestible" id="oblea_comestible_adicional">
<img src="decorado/sharons-pasteleria-panaderia-cafeteria-acapulco-decorado-adicionales_04.jpg">
<p>Oblea comestible<br>
<span class="costo_adi">Pieza $120 pesos</span></p></label>

<select id="lista_adicionales_6" name="Oblea comestible | 120" class="decorado" required>
		 <option value="">Piezas</option>
         <option value="1">1 pieza</option>
		 </select>
	</div>
    
<!--8 PERLA COMESTIBLE--> 
<div class="mediabox">
  <label class="decorado-extra">
  <input name="decorado_adicionales" value="Perla_comestible" id="perla_comestible_adicional">
<img src="decorado/sharons-pasteleria-panaderia-cafeteria-acapulco-decorado-adicionales_08.jpg">
<p>Perla comestible<br>
<span class="costo_adi">Pieza $2 pesos</span></p></label>

<select id="lista_adicionales_7" name="Perla comestible | 2" class="decorado" required>
		 <option value="">Piezas</option>
         <option value="10">10 piezas</option>
         <option value="20">20 piezas</option>
         <option value="30">30 piezas</option>
         <option value="40">40 piezas</option>
		 </select>
	</div>
    
<!--9 BROCHE BRILLANTE--> 
<div class="mediabox">
  <label class="decorado-extra">
  <input name="decorado_adicionales" value="Broche_brillante" id="broche_brillante_adicional">
<img src="decorado/sharons-pasteleria-panaderia-cafeteria-acapulco-decorado-adicionales_09.jpg">
<p>Broche brillante<br>
<span class="costo_adi">Pieza $91 pesos</span></p></label>

<select id="lista_adicionales_8" name="Broche brillante | 91" class="decorado" required>
    <option value="">Piezas</option>
	<option value="1">1 pieza</option>
	<option value="2">2 piezas</option>
	<option value="3">3 piezas</option>
	<option value="4">4 piezas</option>
	<option value="5">5 piezas</option>
	<option value="6">6 piezas</option>
	<option value="7">7 piezas</option>
	<option value="8">8 piezas</option>
	<option value="9">9 piezas</option>
	<option value="10">10 piezas</option>
		 </select>
	</div>

<!--10 BROCHE BRILLANTE--> 
<div class="mediabox">
  <label class="decorado-extra">
  <input name="decorado_adicionales" value="Agregar_altura" id="agregar_altura_adicional">
<img src="decorado/sharons-pasteleria-panaderia-cafeteria-acapulco-decorado-adicionales_10.jpg">
<p>Agregar altura<br>
<span class="costo_adi">Por piso $80 pesos</span></p></label>

<select id="lista_adicionales_9" name="Agregar altura | 80" class="decorado" required>
    <option value="">Piezas</option>
	<option value="1">1 pieza</option>
	<option value="2">2 piezas</option>
	<option value="3">3 piezas</option>
	<option value="4">4 piezas</option>
	<option value="5">5 piezas</option>
	<option value="6">6 piezas</option>
	<option value="7">7 piezas</option>
	<option value="8">8 piezas</option>
	<option value="9">9 piezas</option>
	<option value="10">10 piezas</option>
		 </select>
	</div>
    
<!--FRESAS CHOCOLATE-->  
	<div class="mediabox">
		<label class="decorado-extra">
     		<input name="decorado_adicionales" value="Fresas Chocolate" id="fresas_chocolate">
 			<img src="decorado/sharons-pasteleria-panaderia-cafeteria-acapulco-decorado-adicionales_07.jpg">
 		<p>Fresas chocolate<br>
      <span class="costo_adi">$30 pesos p/pieza</span>
      </p>
    	</label>

        <select id="lista_adicionales_10" name="Fresas chocolate | 30" class="decorado" required>
		 <option value="0">Piezas</option>
		  <option value="6">6 piezas</option>
		  <option value="8">8 piezas</option>
		  <option value="10">10 piezas</option>
		  <option value="12">12 piezas</option>
		  <option value="14">14 piezas</option>
          <option value="16">16 piezas</option>
          <option value="18">18 piezas</option>
          <option value="20">20 piezas</option>
		 </select>
	</div>
    
    <!--PLUMAS ROJAS-->   
	<div class="mediabox">
		<label class="decorado-extra">
     		<input name="decorado_adicionales" value="Plumas rojas" id="plumas_rojas">
 			<img src="decorado/sharons-pasteleria-panaderia-cafeteria-acapulco-decorado-adicionales_14.jpg">
 			<p>Plumas rojas </br>
    <span class="costo_adi">$30 pesos p/pieza</span></p></label>

        <select id="lista_adicionales_11" name="Plumas rojas | 30" class="decorado" required>
		 <option value="0">Piezas</option>
		  <option value="3">3 piezas</option>
		  <option value="4">4 piezas</option>
		  <option value="5">5 piezas</option>
          <option value="6">6 piezas</option>
          <option value="7">7 piezas</option>
          <option value="8">8 piezas</option>
          <option value="9">9 piezas</option>
          <option value="10">10 piezas</option>
          <option value="11">11 piezas</option>
          <option value="12">12 piezas</option>
		 </select>
	</div>
    
<!--PLUMAS ROSA PASTEL-->   
	<div class="mediabox">
		<label class="decorado-extra">
     		<input name="decorado_adicionales" value="Plumas Rosa pastel" id="plumas_rosa_pastel">
 			<img src="decorado/sharons-pasteleria-panaderia-cafeteria-acapulco-decorado-adicionales_15.jpg">
 		<p>Plumas rosa pastel </br>		
	   <span class="costo_adi">$30 pesos p/pieza</span></p></label>

        <select id="lista_adicionales_12" name="Plumas rosa pastel | 30" class="decorado" required>
		 <option value="0">Piezas</option>
		  <option value="3">3 piezas</option>
		  <option value="4">4 piezas</option>
		  <option value="5">5 piezas</option>
          <option value="6">6 piezas</option>
          <option value="7">7 piezas</option>
          <option value="8">8 piezas</option>
          <option value="9">9 piezas</option>
          <option value="10">10 piezas</option>
          <option value="11">11 piezas</option>
          <option value="12">12 piezas</option>
		 </select>
	</div>
    
<!--PLUMAS BLANCA-->   
	<div class="mediabox">
		<label class="decorado-extra">
     		<input name="decorado_adicionales" value="Pluma blanca" id="plumas_blanca">
 			<img src="decorado/sharons-pasteleria-panaderia-cafeteria-acapulco-decorado-adicionales_16.jpg">
 			<p>Plumas blanca </br>
    <span class="costo_adi">$30 pesos p/pieza</span></p></label>

        <select id="lista_adicionales_13" name="Plumas blanca | 30" class="decorado" required>
		 <option value="0">Piezas</option>
		  <option value="3">3 piezas</option>
		  <option value="4">4 piezas</option>
		  <option value="5">5 piezas</option>
          <option value="6">6 piezas</option>
          <option value="7">7 piezas</option>
          <option value="8">8 piezas</option>
          <option value="9">9 piezas</option>
          <option value="10">10 piezas</option>
          <option value="11">11 piezas</option>
          <option value="12">12 piezas</option>
		 </select>
	</div>
    
<!--PLUMAS ROSA MEXICANO-->   
	<div class="mediabox">
		<label class="decorado-extra">
     	<input name="decorado_adicionales" value="Pluma Rosa mexicano" id="plumas_rosa_mexicano">
 		<img src="decorado/sharons-pasteleria-panaderia-cafeteria-acapulco-decorado-adicionales_17.jpg">
 		<p>Plumas rosa mexicano</br>	
		<span class="costo_adi">$30 pesos p/pieza</span></p></label>

        <select id="lista_adicionales_14" name="Plumas rosa mexicano | 30" class="decorado" required>
		 <option value="0">Piezas</option>
		  <option value="3">3 piezas</option>
		  <option value="4">4 piezas</option>
		  <option value="5">5 piezas</option>
          <option value="6">6 piezas</option>
          <option value="7">7 piezas</option>
          <option value="8">8 piezas</option>
          <option value="9">9 piezas</option>
          <option value="10">10 piezas</option>
          <option value="11">11 piezas</option>
          <option value="12">12 piezas</option>
		 </select>
	</div>
    
<!--PLUMAS VERDE-->   
	<div class="mediabox">
		<label class="decorado-extra">
     	<input name="decorado_adicionales" value="Pluma Verde" id="plumas_verde">
 		<img src="decorado/sharons-pasteleria-panaderia-cafeteria-acapulco-decorado-adicionales_18.jpg">
 		<p>Plumas verde</br>
    	<span class="costo_adi">$30 pesos p/pieza</span></p></label>

        <select id="lista_adicionales_15" name="Plumas verde | 30" class="decorado" required>
		 <option value="0">Piezas</option>
		  <option value="3">3 piezas</option>
		  <option value="4">4 piezas</option>
		  <option value="5">5 piezas</option>
          <option value="6">6 piezas</option>
          <option value="7">7 piezas</option>
          <option value="8">8 piezas</option>
          <option value="9">9 piezas</option>
          <option value="10">10 piezas</option>
          <option value="11">11 piezas</option>
          <option value="12">12 piezas</option>
		 </select>
	</div>

<!--ESTRELLAS CARACOLES-->   
	<div class="mediabox">
		<label class="decorado-extra">
     	<input name="decorado_adicionales" value="Estrellas y caracoles Azul" id="estrellas_caracoles_azul">
 		<img src="decorado/sharons-pasteleria-panaderia-cafeteria-acapulco-decorado-adicionales_08.jpg">
    	<span class="costo_adi">$30 pesos paquete</span><br>
    	<p> Estrellas caracoles azul </br>
   		<span class="stars">Paquete de 4 estrellas y 7 caracoles</span></p></label>

        <select id="lista_adicionales_16" name="Estrellas caracoles azul  | 30" class="decorado" required>
		 <option value="0">Piezas</option>
		  <option value="1">1 paquete</option>
		  <option value="2">2 paquetes</option>
		  <option value="3">3 paquetes</option>
		  <option value="4">4 paquetes</option>
		  <option value="5">5 paquetes</option> 
		 </select>
	</div>
</section>
				</div><!-- /content -->
			</div><!-- /tabs -->
  </div>


<div id="footer">
<hr color="#e28f26">
<span class="map"><a href="index.html">inicio</a></span> | <span class="map"><a href="pasteleria.html">pastelería</a></span> | <span class="map"><a href="cafeteria.html">cafetería</a></span> | <span class="map"><a href="contacto.html"> contacto</a></span><br><span class="pie">
Todos los derechos reservados Sharon’s ® Sitio web desarrollado por <a href="http://omedg.com">Ome Diseño</a> y Empresoft <br><span style="font-weight:300"><a href="aviso-privacidad.html">Aviso de privacidad</a></span></span></div>

</div>

    <!-- Menu -->
<script>
      var navigation = responsiveNav(".nav-collapse", {
        animate: true,                    // Boolean: Use CSS3 transitions, true or false
        transition: 284,                  // Integer: Speed of the transition, in milliseconds
        label: "Menu",                    // String: Label for the navigation toggle
        insert: "after",                  // String: Insert the toggle before or after the navigation
        customToggle: "",                 // Selector: Specify the ID of a custom toggle
        closeOnNavClick: false,           // Boolean: Close the navigation when one of the links are clicked
        openPos: "relative",              // String: Position of the opened nav, relative or static
        navClass: "nav-collapse",         // String: Default CSS class. If changed, you need to edit the CSS too!
        navActiveClass: "js-nav-active",  // String: Class that is added to <html> element when nav is active
        jsClass: "js",                    // String: 'JS enabled' class which is added to <html> element
        init: function(){},               // Function: Init callback
        open: function(){},               // Function: Open callback
        close: function(){}               // Function: Close callback
      });
    </script>
    
     <!--EFFECT -->
  <script>
			// For Demo purposes only (show hover effect on mobile devices)
			[].slice.call( document.querySelectorAll('a[href="#"') ).forEach( function(el) {
				el.addEventListener( 'click', function(ev) { ev.preventDefault(); } );
			} );
		</script>
        
<!--DECORADO -->
<script src="js/cbpFWTabs.js"></script>
<script src="js/jquery-1.9.0.min.js"></script>
<script>
new CBPFWTabs( document.getElementById( 'tabs' ) );
	

</script>
      
      
      <script language="JavaScript">
</script>  

<!-- CAROUSEL EXTRAS -->
    <script src="js/swiper.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        slidesPerView: 4,
        paginationClickable: true,
        spaceBetween: 30,
        freeMode: true,
        loop: true,
		keyboardControl: true,
		breakpoints: {
            1024: {
                slidesPerView: 4,
                spaceBetween: 30
            },
            768: {
                slidesPerView: 3,
                spaceBetween: 20
            },
            640: {
                slidesPerView: 2,
                spaceBetween: 10
            }
        }
    });
    </script>

<script>
new CBPFWTabs( document.getElementById( 'tabs' ) );

$('#boton_continuar').click ( 
	    function() {
	    	var extras = '';
	    	var costo = 0;
	    	
	    	var liston = $("input[name='decorado_liston']:checked").val();
	    	
	    	console.log("+ Flores Fondant +");
			for ( i = 1; i <= 26; i++ ){
				console.log(i);
				var indexFloresFondant = $("#lista_flores_fondant_" + i )[0].selectedIndex;
				if ( indexFloresFondant != null && indexFloresFondant > 0 ) {
					var cadena = $("#lista_flores_fondant_" + i).attr("name");	
					var arrayCadena = cadena.split('|');
					var costoUnidad = arrayCadena[1];
					extras = extras + ' - ' + arrayCadena[0] + ", " + costoUnidad + " x (" + indexFloresFondant + ")";
					costo = costo + ( arrayCadena[1] * indexFloresFondant ); 
					console.log("Extras: " + extras );
					console.log("Costo por unidad: " +  costoUnidad);
					console.log("Costo total: " + costo );
				}
			}
	    	
		    console.log("+ Flores Naturales + ");
			for ( i = 1; i <= 10; i++ ){
				console.log(i);
				var lindexFloresNaturales = $("#lista_flores_naturales_" + i )[0].selectedIndex; 
				if ( lindexFloresNaturales != null && lindexFloresNaturales > 0 ) {
					var cadena = $("#lista_flores_naturales_" + i).attr("name");	
					var arrayCadena = cadena.split('|');
					var costoUnidad = arrayCadena[1];
					extras = extras + ' - ' + arrayCadena[0]  + ", " + costoUnidad + " x (" + lindexFloresNaturales + ")";
					costo = costo + ( arrayCadena[1] * lindexFloresNaturales ); 
					console.log("Extras: " + extras );
					console.log("Costo por unidad: " + costoUnidad );
					console.log("Costo total: " + costo );
				}	
			}
	    	
	    	console.log("+ Adicionales +");
			for ( i = 1; i <= 16; i++ ){
				console.log(i);
				var indexAdicionales = $("#lista_adicionales_" + i )[0].selectedIndex; 
				if ( indexAdicionales != null && indexAdicionales > 0 ) {
					var cadena = $("#lista_adicionales_" + i).attr("name");	
					var arrayCadena = cadena.split('|');
					var costoUnidad = arrayCadena[1];
					extras = extras + ' - ' + arrayCadena[0] + ", " + costoUnidad + " x (" + indexAdicionales + ")";
					costo = costo + ( arrayCadena[1] * indexAdicionales ); 
					console.log("Extras: " + extras );
					console.log("Costo por unidad: " + costoUnidad );
					console.log("Costo total: " + costo );
				}
			}
	    	
			console.log("Extras: " + extras + ". Costo total = $" + costo);
	    	
	        $.ajax({
	            type: "POST",
	            url: "ExtrasPastelServlet",
	            data: {
					string: extras,
					costo: costo
	            },
	            success: function(data){
	            	window.location.href = "resumen-pedido.jsp"; 
	            },
	            done: function() {
	            	console.log("Done");
	            }                
	        });	    	
		}
	);

</script>
<!--COLOR-->
<script src="js/jquery-1.9.0.min.js"></script>
<script src="js/jquery.dd.js"></script>
        
</body>
</html>
