input {
	outline: none;}

input:required {
	background: none;}

.ddcommon.color {width:22%;}

.decorado {
	display: inline-block;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
*display:inline;
*margin-left:0;
border: solid 1px #e39513;
	font-size: 12pt;
	font-weight: 300;
	padding: 5px 10px;
	color: #7c7d77;
	vertical-align: middle;
	cursor: pointer;			
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #FFF;
	margin: 8px 2% 8px 0;
	}
	
	.decorado:hover {
	color: #fff;
	background: #e39513;
	}
	
	.button {
	display: inline-block;
*display:inline;
*margin-left:0;
font-family: 'Montserrat', Arial, Helvetica, sans-serif;									font-size: 12pt;
font-weight: 500;
	line-height: 16pt;
	padding: 12px 16px 12px 26px;
	letter-spacing: 1pt;
	margin-left: 15px;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-color: #df9627;
*background-color: #df9627;												background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(##1f3b91));
	background-image: -webkit-linear-gradient(top,#fff,##1f3b91);
	background-image: -o-linear-gradient(top,#fff,##1f3b91);
	background-image: linear-gradient(to bottom,#fff,##1f3b91);
	background-repeat: repeat-x;
	border: 2px solid;
   *border:0;											
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.button select {
	border: 2px #e39513;
	border-radius: 20px;
}

.button:hover, .button:focus,.button:active, .button.active, .button.disabled, .button[disabled] {
	color: #763523;
	background-color: #FFF;
	border: 2px solid #e39513;
	border-radius: 10px;
	}
.button:active, .button.active {
	color: #fff;
	background-color: #6d162c;
	}

label,input,button,select {
	font-size: 14pt;
	line-height: 20pt;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	font-weight: 300;	
	}

.borderRadius{-moz-border-radius:10px; border-radius:10px; }
.borderRadiusTp{-moz-border-radius:10px 10px 0 0; border-radius:10px 10px 0 0;}
.borderRadiusBtm{-moz-border-radius:0 0 10px 10px ; border-radius:0 0 10px 10px;}

.ddcommon {
	position:relative;display:-moz-inline-stack; zoom:1; display:inline-block; *display:inline; cursor: pointer;
border: solid 1px #e39513;
	font-size: 12pt;
	font-weight: 300;
	line-height: 20pt;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	margin: 8px 0;
	background: #FFF;
	width: 95%;
	outline: none;
}

.ddcommon .color {width: 5%;}

.ddcommon ul{padding:0;margin:0;}
.ddcommon ul li{list-style-type:none;}
.borderRadiusTp ul li:last-child{-moz-border-radius:0 0 5px 5px ; border-radius:0 0 5px 5px; }
.borderRadiusBtm ul li:first-child{-moz-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0 ; }

.ddcommon .disabled img, .ddcommon .disabled span, .ddcommon.disabledAll{
opacity: .5; /* standard: ff gt 1.5, opera, safari */
-ms-filter:"alpha(opacity=50)"; /* ie 8 */
filter:alpha(opacity=50); /* ie lt 7 */
-khtml-opacity:.5; /* safari 1.x */
-moz-opacity:.5; /* ff lt 1.5, netscape */

}
.ddcommon .clear{clear:both}
.ddcommon .shadow{-moz-box-shadow:0px 3px 10px #888888;-webkit-box-shadow:0px 3px 10px #888888;box-shadow: 0px 3px 10px #888888;}
.ddcommon input.text{padding:0 0 0 0; position:absolute; background:#fff; display:block; left:2px; top:0; border:none;outline: none;}
.ddOutOfVision{position:relative; display:-moz-inline-stack; display:inline-block; zoom:1; *display:inline;}
.borderRadius .shadow{-moz-box-shadow:5px 5px 5px -5px #888888;-webkit-box-shadow:5px 5px 5px -5px #888888;box-shadow: 5px 5px 5px -5px #888888;}
.borderRadiusBtm .shadow{-moz-box-shadow:-5px -5px 5px -5px #888888;-webkit-box-shadow:-5px -5px 5px -5px #888888;box-shadow: -5px -5px 5px -5px #888888}
.borderRadiusTp .border, .borderRadius .border{-moz-border-radius:0 0 5px 5px ; border-radius:0 0 5px 5px;}
.borderRadiusBtm .border{-moz-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0;}
img.fnone{float:none !important}
.ddcommon .divider{width:0; height:100%; position:absolute;}
.ddcommon .ddArrow{display:inline-block; position:absolute; top:50%; right:4px;}
.ddcommon .ddArrow:hover{background-position:0 100%;}
.ddcommon .ddTitle{padding:0; position:relative; display:inline-block; width:100%;}
.ddcommon .ddTitle .ddTitleText{display:block;}
.ddcommon .ddTitle .ddTitleText .ddTitleText{padding:0;}
.ddcommon .ddTitle .description{display:block;}
.ddcommon .ddTitle .ddTitleText img {position:relative; vertical-align:middle; float:left}
.ddcommon .ddChild{position:absolute;display:none;width:100%;overflow-y:auto; overflow-x:hidden; zoom:1; z-index:9999}
.ddcommon .ddChild li{clear:both;}
.ddcommon .ddChild li .description{display:block;}
.ddcommon .ddChild li img{border:0 none; position:relative;vertical-align:middle;float:left}
.ddcommon .ddChild li.optgroup{padding:0;}
.ddcommon .ddChild li.optgroup .optgroupTitle{padding:0 5px; font-weight:bold; font-style:italic}
.ddcommon .ddChild li.optgroup ul li{padding:5px 5px 5px 15px}
.ddcommon .noBorderTop{border-top:none 0  !important; padding:0; margin:0;}

/*************** default theme **********************/
.dd{border:1px solid #e39513; border-radius:10px;}
.dd .divider{right:24px;}
.dd .ddArrow{width:16px;height:16px; margin-top:-8px; background:url(images/dd_arrow.gif) no-repeat;}
.dd .ddArrow:hover{background-position:0 100%;}
.dd .ddTitle{color:#763523; fonrepeat-x left top;}
.dd .ddTitle .ddTitleText{padding:5px 20px 5px 10px;}
.dd .ddTitle .ddTitleText .ddTitleText{padding:0;}
.dd .ddTitle .description{font-size:12pt;}
.dd .ddTitle .ddTitleText img{padding-right:5px;}
.dd .ddChild {background-color:#fff; left:-1px; margin-top:1px; margin-bottom:1px;}
.dd .ddChild li{padding:8px; background-color:#fff;}
.dd .ddChild li .description{color:#fff;}
.dd .ddChild li {color:#7c7d77;}
.dd .ddChild li .opcion1 {font-weight:800;}
.dd .ddChild li.hover{background-color:#763523; color:#fff;}
.dd .ddChild li img{padding:0 6px 0 0;}
.dd .ddChild li.optgroup{padding:0;}
.dd .ddChild li.optgroup .optgroupTitle{padding:0 5px; font-weight:bold; font-style:italic}
.dd .ddChild li.optgroup ul li{padding:5px 5px 5px 15px}
.dd .ddChild li.selected{background-color:#e39513; color:#fff;border-radius:5px 5px 0 0;}
	
	.forma img {
	max-width: 50px;
	margin-right: 15px;
}
label.forma > input { /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label.forma > input + img{ /* IMAGE STYLES */
  cursor: pointer;
  border: 2px solid transparent;
}
label.forma > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border: 2px solid #e39513;
}

.decorado-extra img {
	max-width: 100%;
}
label.decorado-extra > input { /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label.decorado-extra > input + img{ /* IMAGE STYLES */
  cursor: pointer;
  border: 3px solid #ebe1dc;
}
label.decorado-extra > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border: 3px solid #e39513;
}

.mensaje {
	font-size: 10pt;
	font-weight: 300;
	line-height: 12pt;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	color: #7c7d77;
}

textarea, input[type="text"]{
	display: inline-block;
	height: 35px;
	width: 95%;
	padding: 12px 8px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 0px;
	line-height: 20pt;
	vertical-align: middle;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: solid 1px #e39513;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	outline: none;	
	}

input[type="number"] {
	display: inline-block;
	height: 35px;
	width: 90%;
	padding: 4px 8px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 0px;
	line-height: 20pt;
	vertical-align: middle;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: solid 1px #e39513;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	outline: none;	
	font-size: 12pt;
	font-weight: 300;
	color: #763523;
}

input[type="email"] {
	display: inline-block;
	height: 35px;
	width: 90%;
	padding: 4px 8px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 0px;
	line-height: 20pt;
	vertical-align: middle;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: solid 1px #e39513;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	outline: none;	
	font-size: 12pt;
	font-weight: 300;
	color: #763523;
}
	
	@media only screen and (min-width: 769px) {
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="date"], input[type="color"], input[type=submit] .uneditable-input{
	width: 71%;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	outline: none;	
	}
	
input[type="number"] {
	width: 20%;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	outline: none;	
	}
	
	.ddcommon {
		width: 75%;
	}
}