input {
	outline: none;}

.decorado {
	display: inline-block;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	font-size: 10pt;
border: solid 1px #e39513;
	border-radius: 40px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	font-weight: 300;
	padding: 40px 10px;
	color: #7c7d77;
	vertical-align: middle;
	cursor: pointer;			
	background: #FFF;
	margin: 10px 0px 0px 0px;
	width: 90%;
	}
	
.button {
	display: inline-block;
*display:inline;
*margin-left:0;
font-family: 'Montserrat', Arial, Helvetica, sans-serif;									font-size: 12pt;
font-weight: 500;
	line-height: 16pt;
	padding: 12px 16px 12px 26px;
	letter-spacing: 1pt;
	margin-left: 15px;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-color: #df9627;
*background-color: #df9627;
	background-repeat: repeat-x;
	border: 2px solid;
   *border:0;											
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.button select {
	border: 2px #e39513;
	border-radius: 0px;
}

.button:hover, .button:focus,.button:active, .button.active, .button.disabled, .button[disabled] {
	color: #763523;
	background-color: #FFF;
	border: 2px solid #e39513;
	border-radius: 10px;
	}
.button:active, .button.active {
	color: #fff;
	background-color: #6d162c;
	}

label,input,button,select {
	font-size: 12pt;
	line-height: 16pt;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	font-weight: 300;	
	}

.borderRadius{-moz-border-radius:10px; border-radius:10px; }
.borderRadiusTp{-moz-border-radius:10px 10px 0 0; border-radius:10px 10px 0 0;}
.borderRadiusBtm{-moz-border-radius:0 0 10px 10px ; border-radius:0 0 10px 10px;}

.ddcommon {
	position:relative;display:-moz-inline-stack; zoom:1; display:inline-block; *display:inline; cursor: pointer;
border: solid 1px #e39513;
	font-size: 12pt;
	font-weight: 300;
	line-height: 20pt;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	margin: 8px 0;
	background: #FFF;
	width: 95%;
	outline: none;
}

label.decorado-extra > input { /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label.decorado-extra > input + img{ /* IMAGE STYLES */
  cursor: pointer;
  border: 3px solid #ebe1dc;
}
label.decorado-extra > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border: 3px solid #e39513;
}

	@media only screen and (min-width: 769px) {
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="date"], input[type="color"], input[type=submit] .uneditable-input{
	width: 71%;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	outline: none;	
	}
.decorado {
	font-size: 12pt;
	}
}