@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot?pvm5gj');
	src:url('../fonts/icomoon/icomoon.eot?#iefixpvm5gj') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.woff?pvm5gj') format('woff'),
		url('../fonts/icomoon/icomoon.ttf?pvm5gj') format('truetype'),
		url('../fonts/icomoon/icomoon.svg?pvm5gj#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
} /* Icons created with icomoon.io/app */

a { text-decoration: none; }

.tabs {
	position: relative;
	width: 100%;
	margin: 20px 0;
	overflow: hidden;
}

/* Nav */
.tabs nav {
	text-align: center;
}

.tabs nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: inline-block;
}

.tabs nav ul li {
	border: none;
	border-bottom: none;
	margin: 0 4px;
	display: block;
	float: left;
	position: relative;
}
.tabs nav ul li span {
	font-family: 'Montserrat', sans-serif;
	font-size: 13pt;
	font-weight: 500;
}

.tabs nav li.tab-current {
	box-shadow: inset 0px -3px #763523;
	border-right: none;
	border-left: none;
	z-index: 100;
	color: #e39513;
}

.tabs nav li.tab-current:before,
.tabs nav li.tab-current:after {
	content: '';
	position: absolute;
	height: 1px;
	right: 100%;
	bottom: 0;
	width: 1000px;
	background:  #e39513;
}

.tabs nav li.tab-current:after {
	right: auto;
	left: 100%;
	width: 4000px;
}

.tabs nav a {
	color: #b1b3b6;
	display: block;
	font-size: 1.45em;
	line-height: 2.5;
	padding: 0 1.25em;
	white-space: nowrap;
}

.tabs nav a:hover {
	color: #763523;
}

.tabs nav li.tab-current a {
	color: #e39513;
}

/* Icons */
.tabs nav a:before {
	display: inline-block;
	vertical-align: middle;
	text-transform: none;
	font-weight: normal;
	font-variant: normal;
	font-family: 'icomoon';
	line-height: 0;
	speak: none;
	-webkit-font-smoothing: antialiased;
	margin: -0.25em 0.4em 0 0;
}

.icon-bookmark:before {
  content: "\e9d2";
}
.icon-cog:before {
  content: "\e909";
  font-size: 24pt;
}
.icon-cake:before {
  content: "\e901";
}
.icon-gift:before {
  content: "\e90a";
}


/* Content */
.content section {
	font-size: 1.25em;
	padding: 5% 0;
	display: none;
	margin: 0 auto;
}

.content section:before,
.content section:after {
	content: '';
	display: table;
}

.content section:after {
	clear: both;
}

/* Fallback example */
.no-js .content section {
	display: block;
	padding-bottom: 2em;
	border-bottom: 1px solid #e39513;
}
.content section.content-current {
	display: block;
}
.mediabox {
	float: left;
	width: 21%;
	padding: 0;
	display: block;
	margin: 0 2% 2% 2%;
	text-align: left;
}
.mediabox img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
	margin-bottom: 0px;
}

.mediabox .costo_adi {
    font-family: 'Montserrat', sans-serif;
	color: #763523;
	font-weight: 300;
	font-size: 12pt;
	line-height: 16pt;
	text-transform: none;
	letter-spacing:0;
	margin-top: 15px;
}

.mediabox p {
	font-family: 'Montserrat', sans-serif;
	color: #e39513;
	font-weight: 500;
	font-size: 10pt;
	text-transform: uppercase;
	line-height: 13pt;
	letter-spacing:1px;
	margin-top: 8px;
}

/* Example media queries */

@media screen and (max-width: 769px) {
	.tabs nav a span {
		display: none;
	}

	.tabs nav a:before {
		margin-right: 0;
	}
.mediabox {
	float: left;
	width: 24%;
	padding: 0;
	margin: 0 2% 3% 2%;
}
	.mediabox img {
		float: left;
		max-width: 100%;
		margin-bottom: 10px;
	}

	.mediabox p {
		margin-left: 0;
	}
	.mediabox:before,
	.mediabox:after {
		content: '';
		display: table;
	}

	.mediabox:after {
		clear: both;
	}
	.content section {
	padding: 5% 8%;
	display: none;
	margin: 0 auto;
}
}

@media screen and (max-width: 481px) {
	.tabs nav ul,
	.tabs nav ul li a {
		width: 100%;
		padding: 0;
	}
	.tabs nav ul li {
		width: 25%;
		margin: 0;
	}
	.tabs nav ul li:last-child {
		border-right: none;
	}

	.mediabox {
	float: left;
	width: 38%;
	padding: 0;
	margin: 0 2% 3% 2%;
}

	.mediabox img {
		float: none;
		margin-bottom: 10px;
		max-width: 100%;
	}
.mediabox p {
	font-size: 8pt;
	text-transform: uppercase;
	line-height: 11pt;
}
.mediabox .costo_adi {
	font-size: 10pt;
	line-height: 14pt;
	margin-top: 15px;
}
}

/** DEMO **/

@font-face {
	font-family: 'bpicons';
	src:url('../fonts/bpicons/bpicons.eot');
	src:url('../fonts/bpicons/bpicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/bpicons/bpicons.woff') format('woff'),
		url('../fonts/bpicons/bpicons.ttf') format('truetype'),
		url('../fonts/bpicons/bpicons.svg#bpicons') format('svg');
	font-weight: normal;
	font-style: normal;
} /* Made with http://icomoon.io/ */

body, html { font-size: 100%; padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

.container > header h1 {
	font-size: 2.125em;
	margin: 0 0 0.6em 0;
	float: left;
	font-weight: 300;
}

.container > header > span {
	display: block;
	position: relative;
	z-index: 9999;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	padding: 0 0 0.6em 0.1em;
}

.container > header > span span:after {
	width: 30px;
	height: 30px;
	left: -12px;
	font-size: 50%;
	top: -8px;
	font-size: 75%;
	position: relative;
}

.container > header > span span:hover:before {
	content: attr(data-content);
	text-transform: none;
	text-indent: 0;
	letter-spacing: 0;
	font-weight: 300;
	font-size: 110%;
	padding: 0.8em 1em;
	text-align: left;
	left: auto;
	margin-left: 4px;
	position: absolute;
	color: #fff;
	background: #47a3da;
}

.container > header nav {
	float: right;
	text-align: center;
}

.container > header nav a {
	display: inline-block;
	position: relative;
	text-align: left;
	width: 2.5em;
	height: 2.5em;
	background: #fff;
	border-radius: 50%;
	margin: 0 0.1em;
	border: 4px solid #e39513;
}

.container > header nav a > span {
	display: none;
}

.container > header nav a:hover:before {
	content: attr(data-info);
	color: #47a3da;
	position: absolute;
	width: 600%;
	top: 120%;
	text-align: right;
	right: 0;
	pointer-events: none;
}

.container > header nav a:hover {
	background: #47a3da;
}

.bp-icon:after {
	font-family: 'bpicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-align: center;
	color: #47a3da;
	-webkit-font-smoothing: antialiased;
}

.container > header nav .bp-icon:after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	line-height: 2;
	text-indent: 0;
}

.container > header nav a:hover:after {
	color: #fff;
}

.bp-icon-next:after {
	content: "\e000";
}
.bp-icon-drop:after {
	content: "\e001";
}
.bp-icon-archive:after {
	content: "\e002";
}
.bp-icon-about:after {
	content: "\e003";
}
.bp-icon-prev:after {
	content: "\e004";
}

p.info {
	text-align: center;
	padding: 20px;
}

@media screen and (max-width: 55em) {

	.container > header h1,
	.container > header nav {
		float: none;
	}

	.container > header > span,
	.container > header h1 {
		text-align: center;
	}

	.container > header nav {
		margin: 0 auto;
	}

	.container > header > span {
		text-indent: 30px;
	}
}