@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,700');

/**ICON**/

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?uznxxa');
  src:  url('fonts/icomoon.eot?uznxxa#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?uznxxa') format('truetype'),
    url('fonts/icomoon.woff?uznxxa') format('woff'),
    url('fonts/icomoon.svg?uznxxa#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-gift:before {
  content: "\e90a";
}
.icon-bookmark:before {
  content: "\e9d2";
}
.icon-bag:before {
  content: "\e903";
}
.icon-head:before {
  content: "\e904";
}
.icon-ribbon:before {
  content: "\e900";
}
.icon-times:before {
  content: "\e907";
}
.icon-tick:before {
  content: "\e908";
}
.icon-equals:before {
  content: "\e905";
}
.icon-chevron-right:before {
  content: "\e906";
  font-size: 24pt;
  color: #763523;
  vertical-align: middle;
}
.icon-chevron-right a:hover {
  content: "\e906";
  font-size: 24pt;
  color: #fff;
  vertical-align: middle;
}
.icon-cog:before {
  content: "\e909";
}
.icon-triangle-right:before {
  content: "\e902";
}
.icon-cake:before {
  content: "\e901";
}

/**/

.pie {
	font-family: 'Montserrat', sans-serif;
	color: #b1b3b6;
	font-weight: 500;
	line-height: 12pt;
	font-size: 9pt;
}

.pie a:link {color: #b1b3b6; text-decoration: none;}
.pie a:visited {color: #b1b3b6; text-decoration: none;}
.pie a:active {color: #b1b3b6; text-decoration: none;}

.pie span a:link {color: #b1b3b6; text-decoration: none;}
.pie span a:visited {color: #b1b3b6; text-decoration: none;}
.pie span a:active {color: #b1b3b6; text-decoration: none;}

.titulos {
	font-family: 'Montserrat', sans-serif;
	color: #e39513;
	font-weight:800;
	font-size: 16pt;
}
.secciones {
	font-family: 'Montserrat', sans-serif;
	color: #e39513;
	font-weight:800;
	font-size: 24pt;
}
.elige {
	font-family: 'Montserrat', sans-serif;
	color: #b1b3b6;
	font-weight:500;
	font-size: 16pt;
}
.nombre {
	font-family: 'Montserrat', sans-serif;
	color: #e39513;
	font-weight: 500;
	line-height: 20pt;
	font-size: 15pt;
}
.precios {
	font-family: 'Montserrat', sans-serif;
	color: #763523;
	font-weight: 500;
	font-size: 12pt;
}
.subtitulo {
	font-family: 'Montserrat', sans-serif;
	color: #763523;
	font-weight: 300;
	font-size: 20pt;
}
.texto {
	font-family: 'Montserrat', sans-serif;
	color: #b1b3b6;
	font-weight: 300;
	font-size: 11pt;
	line-height: 10pt;
}
.predis {
	font-family: 'Montserrat', sans-serif;
	color: #763523;
	font-weight: 300;
	font-size: 14pt;
	line-height: 16pt;
}
.map{
	font-family: 'Montserrat', sans-serif;
	color: #763523;
	font-weight: 500;
	font-size: 9pt;
	text-transform: uppercase;
	letter-spacing: 1pt;
	line-height: 10pt;
}

a:link { text-decoration: none;}
.map a:link {color: #763523; text-decoration: none;}
.map a:visited {color: #763523; text-decoration: none;}
.map a:active {color: #763523; text-decoration: none;}
.map a:hover {color: #e39513; text-decoration: none;}

.opciones {
	font-family: 'Montserrat', sans-serif;
	color: #e39513;
	font-weight: 700;
	line-height: 20pt;
	font-size: 14pt;
}
.spe {
	font-family: 'Montserrat', sans-serif;
	color: #e39513;
	font-weight: 500;
	font-size: 10pt;
	line-height: 11pt;
}
.stars {
	font-family: 'Montserrat', sans-serif;
	color: #763523;
	font-weight: 500;
	font-size: 8pt;
	line-height: 8pt;
}
.acot {
	font-family: 'Montserrat', sans-serif;
	color: #9fa4a6;
	font-weight: 300;
	text-transform:none;
	font-size: 10pt;
	line-height: 10pt;
	letter-spacing:0;
}
.total {
	font-family: 'Montserrat', sans-serif;
	color: #763523;
	font-weight: 500;
	font-size: 12pt;
	text-transform: uppercase;
}
.precio_total {
	font-family: 'Montserrat', sans-serif;
	color: #e39513;
	font-weight: 500;
	line-height: 50pt;
	font-size: 24pt;
}
.pedido {
	font-family: 'Montserrat', sans-serif;
	color: #b1b3b6;
	font-weight: 300;
	font-size: 10pt;
	line-height: 10pt;
}
label { line-height: 10pt;
}

@media screen and (max-width: 481px) {
.secciones {
	font-size: 18pt;
	color: #763523;
}
.elige {
	font-size: 12pt;
}
.pie , .map {
	line-height: 12pt;
	font-size: 7pt;
}
.subtitulo {
	font-family: 'Montserrat', sans-serif;
	color: #763523;
	font-weight: 300;
	font-size: 15pt;
}
}

.mensaje_info {
	color: #e39513;
	font-size: 16px;
	padding-top: 5px;
	padding-bottom: 7px;
	font-family: 'Montserrat', sans-serif;	
}

.mensaje_exito {
	color: green;
	font-size: 16px;
	padding-top: 5px;
	padding-bottom: 7px;
	font-family: 'Montserrat', sans-serif;
}

.error_requerido {
	color: red;
	font-size: 16px;
	padding-top: 5px;
	padding-bottom: 7px;
	font-family: 'Montserrat', sans-serif;
}