.imag-big {
	margin-top: 20%;
}

*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}


@font-face {
	font-family: 'fontawesome';
	src:url('fonts/fontawesome-webfont.eot');
	src:url('fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/fontawesome-webfont.woff') format('woff'),
		url('fonts/fontawesome-webfont.ttf') format('truetype'),
		url('fonts/fontawesome-webfont.svg#fontawesome-webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;}

.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

.no-js .slides > li:first-child {display: block;}

.flexslider {
	height: 100%;
	position: relative;
	zoom: 1;
	background: #CCC;}

.flex-viewport {
	height: 100%;
	-webkit-transition: all 1s ease; -moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;}

.loading .flex-viewport { max-height: 300px; }

.flexslider .slides { zoom: 1; }

.carousel li { margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {*height: 0;}

.flex-direction-nav a  { text-decoration:none; display: block; width: 40px; height: 50px; margin: -20px 0 0; position: absolute; top: 50%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; color:  #FFF; text-shadow: 1px 1px 0 rgba(255,255,255,0.3); -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; }

.flex-direction-nav .flex-prev { left: 20px;opacity: 1; }
.flex-direction-nav .flex-next { right: 20px;opacity: 1; text-align: right; }
.flexslider:hover .flex-prev { opacity: 1; left: 40px; color: #eca626; }
.flexslider:hover .flex-next { opacity: 1; right: 40px; color: #eca626;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
.flex-direction-nav a:before  { font-family: "fontawesome"; font-size: 50px; display: inline-block; content: '\f104'; }
.flex-direction-nav a.flex-next:before  { content: '\f105'; }

/* Pause/Play */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #FFF; }

.flex-pauseplay a:before  { font-family: "fontawesome"; font-size: 20px; display: inline-block; content: '\f004'; }

.flex-pauseplay a:hover  { opacity: 1; }

.flex-pauseplay a.flex-play:before {
	content: '\f003'; }

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; text-align: center;}

.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}

.flex-control-paging li a {width: 11px; height: 11px; display: none; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }

.flex-control-paging li a:hover {
	background: #333; background: rgba(0,0,0,0.7); }

.flex-control-paging li a.flex-active {
	background: #000;
	background: rgba(0,0,0,0.9);
	cursor: default; }

.flex-control-thumbs img:hover {opacity: 1;}

.flex-control-thumbs .flex-active {
	opacity: 1;
	cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
	  opacity: 1;
	  left: 40px;}
	  
  .flex-direction-nav .flex-next {
	  opacity: 1;
	  right: 40px;}
	  
.flexslider:hover .flex-prev {left: 40px; }

.flexslider:hover .flex-next {right: 40px; }
}

@media screen and (max-width: 480px) {
  .flex-direction-nav .flex-prev { opacity: 5; left: 15px;}
  .flex-direction-nav .flex-next { opacity: 5; right: 15px;}
.flexslider:hover .flex-prev {left: 15px; }
.flexslider:hover .flex-next {right: 15px; }

.flexslider {
	position: relative;
	zoom: 1; }
	
	 
}
