@charset "UTF-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		4;
	dw-num-cols-tablet:		10;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

/* Mobile Layout: 480px and below. */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

hr {color: #e39513;}
.btn-selec {max-width: 124px;}

.big {display: none;}
.small {display: block;}

#header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#pdfs {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	background: #e28f26;
	margin-bottom: 1%;
}
#logo {
	clear: both;
	float: left;
	padding: 3.5% 15% 4% 15%;
	width: 70%;
	display: block;
	background: -webkit-linear-gradient(bottom, rgba(226,145,38,1) 0%, rgba(195,118,37,1) 29%, rgba(118,53,35,1) 100%);

}
#menu {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#slide {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	margin-bottom: 4%;
}
#modulos {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	margin-bottom: 1.2%;
}
#face {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#mod-1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	background: #edddc2;
}
#mod-2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	background: #edddc2;
}
#mod-3 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	background: #edddc2;
}
#modulos2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#mod-4 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	background: #edddc2;
}
#mod-5 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	background: #edddc2;
}
#mod-6 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	background: #edddc2;
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 90%;
	display: block;
	text-align: center;
	padding: 3% 5%;
}
#titulo-izq {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: none;
}
#titulo-der {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#subtitulo {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	text-align: center;
}
#cafeteria-1 {
	clear: both;
	float: left;
	margin-left: 10%;
	width: 80%;
	margin-bottom: 5%;
	display: block;
	text-align: center;
}
#cafeteria-2 {
	clear: none;
	float: left;
	margin-left: 10%;
	width: 80%;
	margin-bottom: 5%;
	display: block;
	text-align: center;
}
#cafeteria-3 {
	clear: none;
	float: left;
	margin-left: 10%;
	width: 80%;
	margin-bottom: 5%;
	display: block;
	text-align: center;
}
#cafeteria-4 {
	clear: both;
	float: left;
	margin-left: 10%;
	width: 80%;
	margin-bottom: 5%;
	display: block;
	text-align: center;
}
#cafeteria-5 {
	clear: both;
	float: left;
	margin-left: 10%;
	width: 80%;
	margin-bottom: 5%;
	display: block;
	text-align: center;
}
#cafeteria-6 {
	clear: none;
	float: left;
	margin-left: 10%;
	width: 80%;
	margin-bottom: 5%;
	display: block;
	text-align: center;
}
#cafeteria-7 {
	clear: both;
	float: left;
	margin-left: 10%;
	width: 80%;
	margin-bottom: 5%;
	display: block;
	text-align: center;
}
#cafeteria-8 {
	clear: none;
	float: left;
	margin-left: 10%;
	width: 80%;
	margin-bottom: 5%;
	display: block;
	text-align: center;
}
#tipo_de_pastel_1 {
	clear: both;
	float: left;
	margin-left: 0%;
	width: 100%;
	display: block;
}
#tipo_de_pastel_2 {
	clear: none;
	float: left;
	margin-left: 0%;
	width: 100%;
	display: block;
}
#tipo_de_pastel_3 {
	clear: both;
	float: left;
	margin-left: 0%;
	width: 100%;
	display: block;
}
#tipo_de_pastel_4 {
	clear: none;
	float: left;
	margin-left: 0%;
	width: 100%;
	display: block;
}
#tipo_de_pastel_5 {
	clear: both;
	float: left;
	margin-left: 0%;
	width: 100%;
	display: block;
}
#tipo_de_pastel_6 {
	clear: none;
	float: left;
	margin-left: 0%;
	width: 100%;
	display: block;
}
#titulo-centro {
	clear: both;
	float: left;
	margin-left: 10%;
	width: 80%;
	display: block;
	text-align: center;
	margin-top: 5%;
}
#pastel1 {
	clear: both;
	float: left;
	margin-left: 5%;
	width: 42.5%;
	display: block;
	margin-bottom: 5%;
}
#pastel2 {
	clear: none;
	float: left;
	margin-left: 5%;
	width: 42.5%;
	display: block;
	margin-bottom: 5%;
}
#pastel3 {
	clear: both;
	float: left;
	margin-left: 5%;
	width: 42.5%;
	display: block;
	margin-bottom: 5%;
}
#pastel4 {
	clear: none;
	float: left;
	margin-left: 5%;
	width: 42.5%;
	display: block;
	margin-bottom: 5%;
}
#pastel5 {
	clear: both;
	float: left;
	margin-left: 5%;
	width: 42.5%;
	display: block;
	margin-bottom: 5%;
}
#pastel6 {
	clear: none;
	float: left;
	margin-left: 5%;
	width: 42.5%;
	display: block;
	margin-bottom: 5%;
}
#pastel7 {
	clear: both;
	float: left;
	margin-left: 5%;
	width: 42.5%;
	display: block;
	margin-bottom: 5%;
}
#pastel8 {
	clear: none;
	float: left;
	margin-left: 5%;
	width: 42.5%;
	display: block;
	margin-bottom: 5%;
}
#pastel9 {
	clear: both;
	float: left;
	margin-left: 5%;
	width: 42.5%;
	display: block;
	margin-bottom: 5%;
}
#pastel10 {
	clear: none;
	float: left;
	margin-left: 5%;
	width: 42.5%;
	display: block;
	margin-bottom: 5%;
}
#pastel11 {
	clear: both;
	float: left;
	margin-left: 5%;
	width: 42.5%;
	display: block;
	margin-bottom: 5%;
}
#pastel12 {
	clear: none;
	float: left;
	margin-left: 5%;
	width: 42.5%;
	display: block;
	margin-bottom: 5%;
}
#pastel13 {
	clear: both;
	float: left;
	margin-left: 5%;
	width: 42.5%;
	display: block;
	margin-bottom: 5%;
}
#pastel14 {
	clear: none;
	float: left;
	margin-left: 5%;
	width: 42.5%;
	display: block;
	margin-bottom: 5%;
}
#pastel15 {
	clear: both;
	float: left;
	margin-left: 5%;
	width: 42.5%;
	display: block;
	margin-bottom: 5%;
}
#pastel16 {
	clear: none;
	float: left;
	margin-left: 5%;
	width: 42.5%;
	display: block;
	margin-bottom: 5%;
}
#pastel17 {
	clear: both;
	float: left;
	margin-left: 5%;
	width: 42.5%;
	display: block;
	margin-bottom: 5%;
}
#pastel18 {
	clear: none;
	float: left;
	margin-left: 5%;
	width: 42.5%;
	display: block;
	margin-bottom: 5%;
}
#pastel19 {
	clear: both;
	float: left;
	margin-left: 5%;
	width: 42.5%;
	display: block;
	margin-bottom: 5%;
}
#pastel20 {
	clear: none;
	float: left;
	margin-left: 5%;
	width: 42.5%;
	display: block;
	margin-bottom: 5%;
}
#pastel21 {
	clear: both;
	float: left;
	margin-left: 5%;
	width: 42.5%;
	display: block;
	margin-bottom: 5%;
}
#pastel22 {
	clear: none;
	float: left;
	margin-left: 5%;
	width: 42.5%;
	display: block;
	margin-bottom: 5%;
}
#pastel23 {
	clear: both;
	float: left;
	margin-left: 5%;
	width: 42.5%;
	display: block;
	margin-bottom: 5%;
}
#pastel24 {
	clear: none;
	float: left;
	margin-left: 5%;
	width: 42.5%;
	display: block;
	margin-bottom: 5%;
}
#pastel25 {
	clear: both;
	float: left;
	margin-left: 5%;
	width: 42.5%;
	display: block;
	margin-bottom: 5%;
}
#pastel26 {
	clear: none;
	float: left;
	margin-left: 5%;
	width: 42.5%;
	display: block;
	margin-bottom: 5%;
}
#pastel27 {
	clear: both;
	float: left;
	margin-left: 5%;
	width: 42.5%;
	display: block;
	margin-bottom: 5%;
}
#pastel28 {
	clear: none;
	float: left;
	margin-left: 5%;
	width: 42.5%;
	display: block;
	margin-bottom: 5%;
}
#pastel29 {
	clear: both;
	float: left;
	margin-left: 5%;
	width: 42.5%;
	display: block;
	margin-bottom: 5%;
}
#pastel30 {
	clear: none;
	float: left;
	margin-left: 5%;
	width: 42.5%;
	display: block;
	margin-bottom: 5%;
}
#pastel31 {
	clear: both;
	float: left;
	margin-left: 5%;
	width: 42.5%;
	display: block;
	margin-bottom: 5%;
}
#pastel32 {
	clear: none;
	float: left;
	margin-left: 5%;
	width: 42.5%;
	display: block;
	margin-bottom: 5%;
}
#pastel33 {
	clear: both;
	float: left;
	margin-left: 5%;
	width: 42.5%;
	display: block;
	margin-bottom: 5%;
}
#pastel34 {
	clear: none;
	float: left;
	margin-left: 5%;
	width: 42.5%;
	display: block;
	margin-bottom: 5%;
}
#pastel35 {
	clear: both;
	float: left;
	margin-left: 5%;
	width: 42.5%;
	display: block;
	margin-bottom: 5%;
}
#pastel36 {
	clear: none;
	float: left;
	margin-left: 5%;
	width: 42.5%;
	display: block;
	margin-bottom: 5%;
}
#pastel37 {
	clear: both;
	float: left;
	margin-left: 5%;
	width: 42.5%;
	display: block;
	margin-bottom: 5%;
}
#pastel38 {
	clear: none;
	float: left;
	margin-left: 5%;
	width: 42.5%;
	display: block;
	margin-bottom: 5%;
}
#pastel39 {
	clear: both;
	float: left;
	margin-left: 5%;
	width: 42.5%;
	display: block;
	margin-bottom: 5%;
}
#pastel40 {
	clear: none;
	float: left;
	margin-left: 5%;
	width: 42.5%;
	display: block;
	margin-bottom: 5%;
}
#pastel41 {
	clear: both;
	float: left;
	margin-left: 5%;
	width: 42.5%;
	display: block;
	margin-bottom: 5%;
}
#pastel42 {
	clear: none;
	float: left;
	margin-left: 5%;
	width: 42.5%;
	display: block;
	margin-bottom: 5%;
}
#pastel43 {
	clear: both;
	float: left;
	margin-left: 5%;
	width: 42.5%;
	display: block;
	margin-bottom: 5%;
}
#pastel44 {
	clear: none;
	float: left;
	margin-left: 5%;
	width: 42.5%;
	display: block;
	margin-bottom: 5%;
}
#pastel45 {
	clear: both;
	float: left;
	margin-left: 5%;
	width: 42.5%;
	display: block;
	margin-bottom: 5%;
}
#pastel46 {
	clear: none;
	float: left;
	margin-left: 5%;
	width: 42.5%;
	display: block;
	margin-bottom: 5%;
}
#pastel47 {
	clear: both;
	float: left;
	margin-left: 5%;
	width: 42.5%;
	display: block;
	margin-bottom: 5%;
}
#pastel48 {
	clear: none;
	float: left;
	margin-left: 5%;
	width: 42.5%;
	display: block;
	margin-bottom: 5%;
}
#pastel49 {
	clear: both;
	float: left;
	margin-left: 5%;
	width: 42.5%;
	display: block;
	margin-bottom: 5%;
}
#pastel50 {
	clear: none;
	float: left;
	margin-left: 5%;
	width: 42.5%;
	display: block;
	margin-bottom: 5%;
}
#pastel51 {
	clear: both;
	float: left;
	margin-left: 5%;
	width: 42.5%;
	display: block;
	margin-bottom: 5%;
}
#pastel52 {
	clear: none;
	float: left;
	margin-left: 5%;
	width: 42.5%;
	display: block;
	margin-bottom: 5%;
}

#pastel1 img, #pastel2 img, #pastel3 img, #pastel4 img, #pastel5 img, #pastel6 img, #pastel7 img, #pastel8 img, #pastel9 img, #pastel10 img, #pastel11 img, #pastel12 img, #pastel13 img, #pastel14 img, #pastel15 img, #pastel16 img, #pastel17 img, #pastel18 img, #pastel19 img, #pastel20 img, #pastel21 img, #pastel22 img, #pastel23 img,#pastel24 img, #pastel25 img, #pastel26 img, #pastel27 img, #pastel28 img, #pastel29 img, #pastel30 img, #pastel31 img, #pastel32 img, #pastel33 img, #pastel34 img, #pastel35 img, #pastel36 img, #pastel37 img, #pastel38 img, #pastel39 img, #pastel40 img, #pastel41 img, #pastel42 img, #pastel43 img, #pastel44 img, #pastel45 img, #pastel46 img, #pastel47 img, #pastel48 img, #pastel49 img, #pastel50 img, #pastel51 img, #pastel52 {border-radius: 15px; border: solid #edddc2 2px;}

#form_arma_tu_pastel {
	clear: both;
	float: left;
	margin-left: 10%;
	width: 80%;
	display: block;
}
#previsualizacion {
	clear: none;
	float: left;
	margin-left: 0%;
	width: 100%;
	display: block;
	text-align: center;
}
#previsualizacion_pastel {
	clear: none;
	float: left;
	margin-left: 0%;
	width: 100%;
	display: block;
	padding: 0%;
	border-top: solid 0px #e39513;
}
#precio_total {
	clear: both;
	float: left;
	margin-left: 10%;
	width: 80%;
	display: block;
	padding: 5% 0;
	text-align: center;
}
#entrega {
	clear: both;
	float: left;
	margin-left: 0;
	width: 80%;
	display: block;
	padding: 6% 10%;
	margin-top: 4%;
	background: #763523;
}
#resumen {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#resumen-imagen {
	clear: both;
	float: left;
	margin-left: 10%;
	width: 25%;
	display: block;
}
#resumen-descripcion {
	clear: none;
	float: left;
	margin-left: 5%;
	width: 50%;
	display: block;
}
#resumen-entrega {
	clear: both;
	float: left;
	margin-left: 40%;
	width: 50%;
	display: block;
	margin-top: 4%;
}
#resumen-precio {
	clear: both;
	float: left;
	margin-left: 10%;
	width: 80%;
	display: block;
	margin-top: 4%;
}
#resumen-extras {
	clear: both;
	float: left;
	margin-left: 10%;
	width: 80%;
	display: block;
	margin-top: 3%;
}
#extras-precio {
	clear: both;
	float: left;
	margin-left: 10%;
	width: 80%;
	display: block;
	border-top: solid #763523 1px;
	margin-top: 3%;
	padding: 14px 0 0 0;
	text-align: right;
}
#resumen-total {
	clear: both;
	float: left;
	margin-left: 10%;
	width: 80%;
	display: block;
	margin-top: 3%;
}
#total-precio {
	clear: both;
	float: left;
	margin-left: 10%;
	width: 80%;
	display: block;
	border-top: solid #763523 1px;
	padding: 14px 0 0 0;
	margin-top: 3%;
	text-align: right;
}
#resumen-metodopago {
	clear: both;
	float: left;
	margin-left: 0%;
	width: 100%;
	display: block;
	text-align: center;
	background: #763523;
	padding: 22px 0;
	margin-top: 10%;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	font-weight: 700;
	font-size: 9pt;
	line-height: 11pt;
	letter-spacing: 1px;
}
#resumen-titulo1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#resumen-titulo2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#resumen-titulo3 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#resumen-descripcion-info {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#resumen-entrega-info {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#resumen-precio-info {
	clear: both;
	float: left;
	margin-left: 0%;
	width: 100%;
	display: block;
	border-top: solid #763523 1px;
	margin-top: 3%;
	padding: 14px 0 0 0;
	text-align: right;
}
#resumen-sesion {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	text-align: center;
	padding: 14px 0;
	margin-bottom: 4%;
	background: #e39513;
	color: #000;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	font-weight: 700;
	font-size: 9pt;
	margin-top: 2%;
}
#boton-seleccion {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#decorado-contenedor {
	clear: both;
	float: left;
	margin-left: 5%;
	width: 80%;
	display: block;
	border: 3pt solid #e39513;
	padding: 3% 5%;
}
#decorado1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 44.5%;
	display: block;
	margin-top: 8%;
}
#decorado2 {
	clear: none;
	float: left;
	margin-left: 8%;
	width: 44.5%;
	display: block;
	margin-top: 8%;
}
#decorado3 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 44.5%;
	display: block;
	margin-top: 8%;
}
#decorado4 {
	clear: none;
	float: left;
	margin-left: 8%;
	width: 44.5%;
	display: block;
	margin-top: 8%;
}

#inline-popups {
	width: 30%;
	clear: none;
}

#decorado5 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
hr {
	height: 1px;
	border: none;
	background: #e39513;
}
#inicio-sesion {
	clear: both;
	float: left;
	margin-left: 0%;
	width: 80%;
	display: block;
	text-align: center;
	background: #763523;
	padding: 10%;
}
#registro {
	clear: both;
	float: left;
	margin-left: 10%;
	width: 80%;
	display: block;
	text-align: center;
	margin-bottom: 10%;
	margin-top: 8%;
}
#sesion {
	clear: both;
	float: left;
	margin-left: 0;
	width: 49.5%;
	display: block;
	color: #e39513;
	background: #FFF;
	padding: 6px 0;
	text-align: center;
	border-right: solid 1pt #e39513;
}
#bag {
	clear: none;
	float: left;
	margin-left: 0;
	width: 49.5%;
	display: block;
	color: #e39513;
	text-align: center;
	background: #FFF;
	padding: 6px 0;
	border-left: solid 1pt #e39513;
}
#decorado-content {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	text-align: center;
}
#decorado-title {
	clear: both;
	float: left;
	margin-left: 0%;
	width: 85%;
	display: block;
	text-align: center;
	margin-bottom: 6%;
}
#cafeteria-1 img, #cafeteria-2 img, #cafeteria-3 img, #cafeteria-4 img, #cafeteria-5 img, #cafeteria-6 img, #cafeteria-7 img, #cafeteria-8 img {border-radius: 15px; border: solid #edddc2 2px;}
#contacto-form {clear: both;float: left;margin-left: 10%;width: 80%;display: block; text-align:center; margin-top: 12%; margin-bottom: 7%;}
#extras {clear: both;float: left;margin-left: 0;width: 90%;display: block;text-align:center;background:#763523;padding: 6% 5% 10% 5%;}


/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 100%;
}
.big {display: block;}
.small {display: none;}

#header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#pdfs {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#logo {
	clear: both;
	float: left;
	margin-left: 30.6122%;
	width: 38.7755%;
	display: block;
	margin-bottom: 2%;
	margin-top: 1.5%;
	padding: 0;
	background: none;
}
#menu {
	clear: both;
	float: left;
	margin-left: 10.204%;
	width: 79.5918%;
	display: block;
	margin-bottom: 2%;
	border-top: #e39513 solid 1px;
	padding-top: 10px;
}
#slide {
	clear: both;
	float: left;
	margin-left: 10.204%;
	width: 79%;
	display: block;
	margin-bottom: 2%;
	border: solid #edddc2 2px;
}
#modulos {
	clear: both;
	float: left;
	margin-left: 10.204%;
	width: 79.5918%;
	display: block;
}
#face {
	clear: both;
	float: left;
	margin-left: 10.204%;
	width: 79.5918%;
	display: block;
}
#mod-1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 47.8%;
	display: block;
	margin-bottom: 1.9%;
	border: solid #edddc2 2px;
}
#mod-2 {
	clear: none;
	float: left;
	margin-left: 2%;
	width: 47.8%;
	display: block;
	border: solid #edddc2 2px;
}
#mod-3 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 28.7%;
	display: block;
	border: solid #edddc2 2px;
}
#modulos2 {
	clear: none;
	float: left;
	margin-left: 2%;
	width: 68.1%;
	display: block;
}
#mod-4 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 47%;
	display: block;
	margin-bottom: 2.75%;
	border: solid #edddc2 2px;
}
#mod-5 {
	clear: none;
	float: left;
	margin-left: 2.78%;
	width: 47%;
	display: block;
	border: solid #edddc2 2px;
}
#mod-6 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 98%;
	display: block;
	border: solid #edddc2 2px;
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	padding: 0 0 3% 0;
}
#titulo-izq {
	clear: both;
	float: left;
	margin-left: 0;
	width: 48.9795%;
	display: block;
}
#titulo-der {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 48.9795%;
	display: block;
}
#subtitulo {
	clear: both;
	float: left;
	margin-left: 10.204%;
	width: 79.5918%;
	display: block;
	text-align: left;
}
#cafeteria-1 {
	clear: both;
	float: left;
	margin-left: 10.204%;
	width: 38.7755%;
	display: block;
	margin-bottom: 2%;
}
#cafeteria-2 {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 38.7755%;
	display: block;
	margin-bottom: 2%;
}
#cafeteria-3 {
	clear: both;
	float: left;
	margin-left: 10.204%;
	width: 38.7755%;
	display: block;
	margin-bottom: 2%;
}
#cafeteria-4 {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 38.7755%;
	display: block;
	margin-bottom: 2%;
}
#cafeteria-5 {
	clear: both;
	float: left;
	margin-left: 10.204%;
	width: 38.7755%;
	display: block;
	margin-bottom: 2%;
}
#cafeteria-6 {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 38.7755%;
	display: block;
	margin-bottom: 2%;
}
#cafeteria-7 {
	clear: both;
	float: left;
	margin-left: 10.204%;
	width: 38.7755%;
	display: block;
	margin-bottom: 2%;
}
#cafeteria-8 {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 100%;
	display: block;
	margin-bottom: 2%;
}

#tipo_de_pastel_1 {
	clear: both;
	float: left;
	margin-left: 10.204%;
	width: 38.7755%;
	margin-bottom: 2.75%;
	display: block;
}
#tipo_de_pastel_2 {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 38.7755%;
	margin-bottom: 2.75%;
	display: block;
}
#tipo_de_pastel_3 {
	clear: both;
	float: left;
	margin-left: 10.204%;
	width: 38.7755%;
	margin-bottom: 2.75%;
	display: block;
}
#tipo_de_pastel_4 {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 38.7755%;
	margin-bottom: 2.75%;
	display: block;
}
#tipo_de_pastel_5 {
	clear: both;
	float: left;
	margin-left: 10.204%;
	width: 38.7755%;
	margin-bottom: 2.75%;
	display: block;
}
#tipo_de_pastel_6 {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 38.7755%;
	margin-bottom: 2.75%;
	display: block;
}
#titulo-centro {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	margin-top: 0;
}
#pastel1 {
	clear: both;
	float: left;
	margin-left: 10%;
	width: 25.333%;
	display: block;
	margin-bottom: 2%;
}
#pastel2 {
	clear: none;
	float: left;
	margin-left: 2%;
	width: 25.333%;
	display: block;
	margin-bottom: 2%;
}
#pastel3 {
	clear: none;
	float: left;
	margin-left: 2%;
	width: 25.333%;
	display: block;
	margin-bottom: 2%;
}
#pastel4 {
	clear: none;
	float: left;
	margin-left: 10%;
	width: 25.333%;
	display: block;
	margin-bottom: 2%;
}
#pastel5 {
	clear: none;
	float: left;
	margin-left: 2%;
	width: 25.333%;
	display: block;
	margin-bottom: 2%;
}
#pastel6 {
	clear: none;
	float: left;
	margin-left: 2%;
	width: 25.333%;
	display: block;
	margin-bottom: 2%;
}
#pastel7 {
	clear: both;
	float: left;
	margin-left: 10%;
	width: 25.333%;
	display: block;
	margin-bottom: 2%;
}
#pastel8 {
	clear: none;
	float: left;
	margin-left: 2%;
	width: 25.333%;
	display: block;
	margin-bottom: 2%;
}
#pastel9 {
	clear: none;
	float: left;
	margin-left: 2%;
	width: 25.333%;
	display: block;
	margin-bottom: 2%;
}
#pastel10 {
	clear: both;
	float: left;
	margin-left: 10%;
	width: 25.333%;
	display: block;
	margin-bottom: 2%;
}
#pastel11 {
	clear: none;
	float: left;
	margin-left: 2%;
	width: 25.333%;
	display: block;
	margin-bottom: 2%;
}
#pastel12 {
	clear: none;
	float: left;
	margin-left: 2%;
	width: 25.333%;
	display: block;
	margin-bottom: 2%;
}
#pastel13 {
	clear: both;
	float: left;
	margin-left: 10%;
	width: 25.333%;
	display: block;
	margin-bottom: 2%;
}
#pastel14 {
	clear: none;
	float: left;
	margin-left: 2%;
	width: 25.333%;
	display: block;
	margin-bottom: 2%;
}
#pastel15 {
	clear: none;
	float: left;
	margin-left: 2%;
	width: 25.333%;
	display: block;
	margin-bottom: 2%;
}
#pastel16 {
	clear: both;
	float: left;
	margin-left: 10%;
	width: 25.333%;
	display: block;
	margin-bottom: 2%;
}
#pastel17 {
	clear: none;
	float: left;
	margin-left: 2%;
	width: 25.333%;
	display: block;
	margin-bottom: 2%;
}
#pastel18 {
	clear: none;
	float: left;
	margin-left: 2%;
	width: 25.333%;
	display: block;
	margin-bottom: 2%;
}
#pastel19 {
	clear: both;
	float: left;
	margin-left: 10%;
	width: 25.333%;
	display: block;
	margin-bottom: 2%;
}
#pastel20 {
	clear: none;
	float: left;
	margin-left: 2%;
	width: 25.333%;
	display: block;
	margin-bottom: 2%;
}
#pastel21 {
	clear: none;
	float: left;
	margin-left: 2%;
	width: 25.333%;
	display: block;
	margin-bottom: 2%;
}
#pastel22 {
	clear: both;
	float: left;
	margin-left: 10%;
	width: 25.333%;
	display: block;
	margin-bottom: 2%;
}
#pastel23 {
	clear: none;
	float: left;
	margin-left: 2%;
	width: 25.333%;
	display: block;
	margin-bottom: 2%;
}
#pastel24 {
	clear: none;
	float: left;
	margin-left: 2%;
	width: 25.333%;
	display: block;
	margin-bottom: 2%;
}
#pastel25 {
	clear: both;
	float: left;
	margin-left: 10%;
	width: 25.333%;
	display: block;
	margin-bottom: 2%;
}
#pastel26 {
	clear: none;
	float: left;
	margin-left: 2%;
	width: 25.333%;
	display: block;
	margin-bottom: 2%;
}
#pastel27 {
	clear: none;
	float: left;
	margin-left: 2%;
	width: 25.333%;
	display: block;
	margin-bottom: 2%;
}
#pastel28 {
	clear: both;
	float: left;
	margin-left: 10%;
	width: 25.333%;
	display: block;
	margin-bottom: 2%;
}
#pastel29 {
	clear: none;
	float: left;
	margin-left: 2%;
	width: 25.333%;
	display: block;
	margin-bottom: 2%;
}
#pastel30 {
	clear: none;
	float: left;
	margin-left: 2%;
	width: 25.333%;
	display: block;
	margin-bottom: 2%;
}
#pastel31 {
	clear: both;
	float: left;
	margin-left: 10%;
	width: 25.333%;
	display: block;
	margin-bottom: 2%;
}
#pastel32 {
	clear: none;
	float: left;
	margin-left: 2%;
	width: 25.333%;
	display: block;
	margin-bottom: 2%;
}
#pastel33 {
	clear: none;
	float: left;
	margin-left: 2%;
	width: 25.333%;
	display: block;
	margin-bottom: 2%;
}
#pastel34 {
	clear: both;
	float: left;
	margin-left: 10%;
	width: 25.333%;
	display: block;
	margin-bottom: 2%;
}
#pastel35 {
	clear: none;
	float: left;
	margin-left: 2%;
	width: 25.333%;
	display: block;
	margin-bottom: 2%;
}
#pastel36 {
	clear: none;
	float: left;
	margin-left: 2%;
	width: 25.333%;
	display: block;
	margin-bottom: 2%;
}
#pastel37 {
	clear: both;
	float: left;
	margin-left: 10%;
	width: 25.333%;
	display: block;
	margin-bottom: 2%;
}
#pastel38 {
	clear: none;
	float: left;
	margin-left: 2%;
	width: 25.333%;
	display: block;
	margin-bottom: 2%;
}
#pastel39 {
	clear: none;
	float: left;
	margin-left: 2%;
	width: 25.333%;
	display: block;
	margin-bottom: 2%;
}
#pastel40 {
	clear: both;
	float: left;
	margin-left: 10%;
	width: 25.333%;
	display: block;
	margin-bottom: 2%;
}
#pastel41 {
	clear: none;
	float: left;
	margin-left: 2%;
	width: 25.333%;
	display: block;
	margin-bottom: 2%;
}
#pastel42 {
	clear: none;
	float: left;
	margin-left: 2%;
	width: 25.333%;
	display: block;
	margin-bottom: 2%;
}
#pastel43 {
	clear: both;
	float: left;
	margin-left: 10%;
	width: 25.333%;
	display: block;
	margin-bottom: 2%;
}
#pastel44 {
	clear: none;
	float: left;
	margin-left: 2%;
	width: 25.333%;
	display: block;
	margin-bottom: 2%;
}
#pastel45 {
	clear: none;
	float: left;
	margin-left: 2%;
	width: 25.333%;
	display: block;
	margin-bottom: 2%;
}
#pastel46 {
	clear: none;
	float: left;
	margin-left: 2%;
	width: 25.333%;
	display: block;
	margin-bottom: 2%;
}
#pastel47 {
	clear: both;
	float: left;
	margin-left: 10%;
	width: 25.333%;
	display: block;
	margin-bottom: 2%;
}
#pastel48 {
	clear: none;
	float: left;
	margin-left: 2%;
	width: 25.333%;
	display: block;
	margin-bottom: 2%;
}
#pastel49 {
	clear: none;
	float: left;
	margin-left: 2%;
	width: 25.333%;
	display: block;
	margin-bottom: 2%;
}
#pastel50 {
	clear: none;
	float: left;
	margin-left: 2%;
	width: 25.333%;
	display: block;
	margin-bottom: 2%;
}
#pastel51 {
	clear: both;
	float: left;
	margin-left: 10%;
	width: 25.333%;
	display: block;
	margin-bottom: 2%;
}
#pastel52 {
	clear: none;
	float: left;
	margin-left: 2%;
	width: 25.333%;
	display: block;
	margin-bottom: 2%;
}
#form_arma_tu_pastel {
	clear: both;
	float: left;
	margin-left: 0;
	width: 48.9795%;
	display: block;
}
#previsualizacion {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 48.9795%;
	display: block;
	text-align: left;
}
#previsualizacion_pastel {
	clear: none;
	float: left;
	margin-left: 0%;
	width: 96%;
	display: block;
	border: solid 1px #e39513;
}
#precio_total {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	text-align: right;
}
#entrega {
	clear: both;
	float: left;
	margin-left: 0;
	width: 88%;
	display: block;
	padding: 6%;
	margin-top: 4%;
}
#resumen {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#resumen-imagen {
	clear: both;
	float: left;
	margin-left: 13.204%;
	width: 18.3673%;
	display: block;
}
#resumen-descripcion {
	clear: none;
	float: left;
	margin-left: 6%;
	width: 28.5714%;
	display: block;
}
#resumen-entrega {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 18.3673%;
	display: block;
	margin-top: 0;
}
#resumen-precio {
	clear: both;
	float: left;
	margin-left: 37.5163%;
	width: 48.9795%;
	display: block;
	margin-top: 4%;
	text-align: left;
}
#resumen-extras {
	clear: both;
	float: left;
	margin-left: 37.5163%;
	width: 48.9795%;
	display: block;
	margin-top: 10px;
}
#extras-precio {
	clear: none;
	float: left;
	margin-left: 37.5163%;
	width: 48.9795%;
	display: block;
	padding: 10px 0 0 0;
	margin-top: 10px;
	text-align: right;
	border-bottom: none;
}
#resumen-total {
	clear: both;
	float: left;
	margin-left: 37.5163%;
	width: 48.9795%;
	display: block;
	margin-top: 10px;
}
#total-precio {
	clear: none;
	float: left;
	margin-left: 37.5163%;
	width: 48.9795%;
	display: block;
	padding: 10px 0 0 0;
	text-align: right;
	margin-top: 10px;
	border-bottom: none;
	margin-bottom: 0;
}
#resumen-metodopago {
	clear: both;
	float: left;
	margin-left: 37.5163%;
	width: 44%;
	display: block;
	text-align: center;
	background: #763523;
	border-radius: 10px;
	padding: 18px 20px;
	margin-top: 5%;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	font-weight: 700;
	font-size: 9pt;
	line-height: 11pt;
	letter-spacing: 1px;
}
#resumen-titulo1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	margin-bottom: 12px;
}
#resumen-titulo2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	margin-bottom: 12px;
}
#resumen-titulo3 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#resumen-descripcion-info {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#resumen-entrega-info {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#resumen-precio-info {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	text-align: right;
	padding-top: 10px;
	margin-top: 10px;
	border-bottom: none;
}
#resumen-sesion {
	clear: both;
	float: left;
	margin-left: 68.5%;
	width: 18.3673%;
	display: block;
	margin-top: 2%;
	padding: 10px 0;
}
#boton-seleccion {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#decorado-contenedor {
	clear: both;
	float: left;
	margin-left: 10.204%;
	width: 69.5918%;
	display: block;
}
#decorado1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 21.3%;
	display: block;
	margin-top: 5%;
}
#decorado2 {
	clear: none;
	float: left;
	margin-left: 4%;
	width: 21.3%;
	display: block;
	margin-top: 5%;
}
#decorado3 {
	clear: none;
	float: left;
	margin-left: 4%;
	width: 21.3%;
	display: block;
	margin-top: 5%;
}
#decorado4 {
	clear: none;
	float: left;
	margin-left: 4%;
	width: 21.3%;
	display: block;
	margin-top: 5%;
}
#decorado5 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#inicio-sesion {
	clear: both;
	float: left;
	margin-left: 10.204%;
	width: 28.7755%;
	display: block;
	text-align: left;
	padding: 5%;
	border-radius: 30px;
}
#registro {
	clear: none;
	float: left;
	margin-left: 6.0408%;
	width: 34.7755%;
	display: block;
	text-align: left;
	margin-top: 0;
	margin-bottom: 8%;
}
#sesion {
	clear: both;
	float: left;
	margin-left: 80%;
	width: auto;
	display: block;
	background: #e39513;
	color: #FFF;
	padding: 8px 10px;
	border: none;
}
#bag {
	clear: none;
	float: left;
	margin-left: 1%;
	width: auto;
	display: block;
	background: #763523;
	color: #e39513;
	padding: 8px 10px;
	border: none;
}
#bag:hover {
	background: #e39513;
	color: #763523;
}
#sesion:hover {
	background: #763523;
	color: #FFF;
}
#decorado-content {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#decorado-title {
	clear: both;
	float: left;
	margin-left: 4%;
	width: 80%;
	display: block;
}
#contacto-form {
	clear: both;
	float: left;
	margin-left: 20.4081%;
	width: 59.1836%;
	display: block;
	margin-top: 6%;
	margin-bottom: 4%;
}
#extras {
	clear: both;
	float: left;
	margin-left: 0;
	width: 90%;
	display: block;
	padding: 3% 5% 7% 5%;
}
#pastel46 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 100%;
	max-width: 1600px;
	margin: auto;
}
#header {
	clear: both;
	float: left;
	margin-left: 10.204%;
	width: 79.5918%;
	display: block;
}
#pdfs {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#logo {
	clear: both;
	float: left;
	margin-left: 0;
	width: 28.5714%;
	display: block;
	margin-top: 0;
}
#menu {
	clear: none;
	float: left;
	margin-left: 4.0408%;
	width: 67.3877%;
	display: block;
	margin-top: 5.5%;
}
#slide {
	clear: both;
	float: left;
	margin-left: 10.204%;
	width: 79.5918%;
	display: block;
}
#modulos {
	clear: both;
	float: left;
	margin-left: 10.204%;
	width: 59.1836%;
	display: block;
}
#face {
	clear: none;
	float: left;
	margin-left: 1.4%;
	width: 19%;
	display: block;
}
#mod-1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 46.8%;
	display: block;
	margin-bottom: 3.8%;
}
#mod-2 {
	clear: none;
	float: left;
	margin-left: 4%;
	width: 46.8%;
	display: block;
}
#mod-3 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 28.714%;
	display: block;
}
#modulos2 {
	clear: none;
	float: left;
	margin-left: 4%;
	width: 66%;
	display: block;
}
#mod-4 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 46%;
	display: block;
	margin-bottom: 5.5%;
}
#mod-5 {
	clear: none;
	float: left;
	margin-left: 5.28%;
	width: 46%;
	display: block;
}
#mod-6 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 98.5%;
	display: block;
}
#footer {
	clear: both;
	float: left;
	margin-left: 10.204%;
	width: 79.5918%;
	display: block;
}
#titulo-izq {
	clear: both;
	float: left;
	margin-left: 10.204%;
	width: 38.7755%;
	display: block;
}
#titulo-der {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 38.7755%;
	display: block;
}
#subtitulo {
	clear: both;
	float: left;
	margin-left: 10.204%;
	width: 79.5918%;
	display: block;
}
#cafeteria-1 {
	clear: both;
	float: left;
	margin-left: 10.204%;
	width: 25%;
	display: block;
}
#cafeteria-2 {
	clear: none;
	float: left;
	margin-left: 2.3%;
	width: 25%;
	display: block;
}
#cafeteria-3 {
	clear: none;
	float: left;
	margin-left: 2.3%;
	width: 25%;
	display: block;
}
#cafeteria-4 {
	clear: both;
	float: left;
	margin-left: 10.204%;
	width: 25%;
	display: block;
}
#cafeteria-5 {
	clear: none;
	float: left;
	margin-left: 2.3%;
	width: 25%;
	display: block;
}
#cafeteria-6 {
	clear: none;
	float: left;
	margin-left: 2.3%;
	width: 25%;
	display: block;
}
#cafeteria-7 {
	clear: both;
	float: left;
	margin-left: 10.204%;
	width: 25%;
	display: block;
}
#tipo_de_pastel_1 {
	clear: both;
	float: left;
	margin-left: 10.204%;
	width: 38.7755%;
	display: block;
}
#tipo_de_pastel_2 {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 38.7755%;
	display: block;
}
#tipo_de_pastel_3 {
	clear: both;
	float: left;
	margin-left: 10.204%;
	width: 38.7755%;
	display: block;
}
#tipo_de_pastel_4 {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 38.7755%;
	display: block;
}
#tipo_de_pastel_5 {
	clear: both;
	float: left;
	margin-left: 10.204%;
	width: 38.7755%;
	display: block;
}
#tipo_de_pastel_6 {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 38.7755%;
	display: block;
}
#titulo-centro {
	clear: both;
	float: left;
	margin-left: 10.204%;
	width: 79.5918%;
	display: block;
}
#pastel1 {
	clear: both;
	float: left;
	margin-left: 10.204%;
	width: 18.173%;
	display: block;
}
#pastel2 {
	clear: none;
	float: left;
	margin-left: 2.3%;
	width: 18.173%;
	display: block;
}
#pastel3 {
	clear: none;
	float: left;
	margin-left: 2.3%;
	width: 18.173%;
	display: block;
}
#pastel4 {
	clear: none;
	float: left;
	margin-left: 2.3%;
	width: 18.173%;
	display: block;
}
#pastel5 {
	clear: both;
	float: left;
	margin-left: 10.204%;
	width: 18.173%;
	display: block;
}
#pastel6 {
	clear: none;
	float: left;
	margin-left: 2.3%;
	width: 18.173%;
	display: block;
}
#pastel7 {
	clear: none;
	float: left;
	margin-left: 2.3%;
	width: 18.173%;
	display: block;
}
#pastel8 {
	clear: none;
	float: left;
	margin-left: 2.3%;
	width: 18.173%;
	display: block;
}
#pastel9 {
	clear: both;
	float: left;
	margin-left: 10.204%;
	width: 18.173%;
	display: block;
}
#pastel10 {
	clear: none;
	float: left;
	margin-left: 2.3%;
	width: 18.173%;
	display: block;
}
#pastel11 {
	clear: none;
	float: left;
	margin-left: 2.3%;
	width: 18.173%;
	display: block;
}
#pastel12 {
	clear: none;
	float: left;
	margin-left: 2.3%;
	width: 18.173%;
	display: block;
}
#pastel13 {
	clear: both;
	float: left;
	margin-left: 10.204%;
	width: 18.173%;
	display: block;
}
#pastel14 {
	clear: none;
	float: left;
	margin-left: 2.3%;
	width: 18.173%;
	display: block;
}
#pastel15 {
	clear: none;
	float: left;
	margin-left: 2.3%;
	width: 18.173%;
	display: block;
}
#pastel16 {
	clear: none;
	float: left;
	margin-left: 2.3%;
	width: 18.173%;
	display: block;
}
#pastel17 {
	clear: both;
	float: left;
	margin-left: 10.204%;
	width: 18.173%;
	display: block;
}
#pastel18 {
	clear: none;
	float: left;
	margin-left: 2.3%;
	width: 18.173%;
	display: block;
}
#pastel19 {
	clear: none;
	float: left;
	margin-left: 2.3%;
	width: 18.173%;
	display: block;
}
#pastel20 {
	clear: none;
	float: left;
	margin-left: 2.3%;
	width: 18.173%;
	display: block;
}
#pastel21 {
	clear: both;
	float: left;
	margin-left: 10.204%;
	width: 18.173%;
	display: block;
}
#pastel22 {
	clear: none;
	float: left;
	margin-left: 2.3%;
	width: 18.173%;
	display: block;
}
#pastel23 {
	clear: none;
	float: left;
	margin-left: 2.3%;
	width: 18.173%;
	display: block;
}
#pastel24 {
	clear: none;
	float: left;
	margin-left: 2.3%;
	width: 18.173%;
	display: block;
}
#pastel25 {
	clear: both;
	float: left;
	margin-left: 10.204%;
	width: 18.173%;
	display: block;
}
#pastel26 {
	clear: none;
	float: left;
	margin-left: 2.3%;
	width: 18.173%;
	display: block;
}
#pastel27 {
	clear: none;
	float: left;
	margin-left: 2.3%;
	width: 18.173%;
	display: block;
}
#pastel28 {
	clear: none;
	float: left;
	margin-left: 2.3%;
	width: 18.173%;
	display: block;
}
#pastel29 {
	clear: both;
	float: left;
	margin-left: 10.204%;
	width: 18.173%;
	display: block;
}
#pastel30 {
	clear: none;
	float: left;
	margin-left: 2.3%;
	width: 18.173%;
	display: block;
}
#pastel31 {
	clear: none;
	float: left;
	margin-left: 2.3%;
	width: 18.173%;
	display: block;
}
#pastel32 {
	clear: none;
	float: left;
	margin-left: 2.3%;
	width: 18.173%;
	display: block;
}
#pastel33 {
	clear: both;
	float: left;
	margin-left: 10.204%;
	width: 18.173%;
	display: block;
}
#pastel34 {
	clear: none;
	float: left;
	margin-left: 2.3%;
	width: 18.173%;
	display: block;
}
#pastel35 {
	clear: none;
	float: left;
	margin-left: 2.3%;
	width: 18.173%;
	display: block;
}
#pastel36 {
	clear: none;
	float: left;
	margin-left: 2.3%;
	width: 18.173%;
	display: block;
}
#pastel37 {
	clear: both;
	float: left;
	margin-left: 10.204%;
	width: 18.173%;
	display: block;
}
#pastel38 {
	clear: none;
	float: left;
	margin-left: 2.3%;
	width: 18.173%;
	display: block;
}
#pastel39 {
	clear: none;
	float: left;
	margin-left: 2.3%;
	width: 18.173%;
	display: block;
}
#pastel40{
	clear: none;
	float: left;
	margin-left: 2.3%;
	width: 18.173%;
	display: block;
}
#pastel41 {
	clear: both;
	float: left;
	margin-left: 10.204%;
	width: 18.173%;
	display: block;
}
#pastel42 {
	clear: none;
	float: left;
	margin-left: 2.3%;
	width: 18.173%;
	display: block;
}
#pastel43 {
	clear: none;
	float: left;
	margin-left: 2.3%;
	width: 18.173%;
	display: block;
}
#pastel44 {
	clear: none;
	float: left;
	margin-left: 2.3%;
	width: 18.173%;
	display: block;
}
#pastel45 {
	clear: both;
	float: left;
	margin-left: 10.204%;
	width: 18.173%;
	display: block;
}
#pastel46 {
	clear: none;
	float: left;
	margin-left: 2.3%;
	width: 18.173%;
	display: block;
}
#pastel47 {
	clear: none;
	float: left;
	margin-left: 2.3%;
	width: 18.173%;
	display: block;
}
#pastel48 {
	clear: none;
	float: left;
	margin-left: 2.3%;
	width: 18.173%;
	display: block;
}
#pastel49 {
	clear: both;
	float: left;
	margin-left: 10.204%;
	width: 18.173%;
	display: block;
}
#pastel50 {
	clear: none;
	float: left;
	margin-left: 2.3%;
	width: 18.173%;
	display: block;
}
#pastel51 {
	clear: none;
	float: left;
	margin-left: 2.3%;
	width: 18.173%;
	display: block;
}
#pastel52 {
	clear: none;
	float: left;
	margin-left: 2.3%;
	width: 18.173%;
	display: block;
}
#form_arma_tu_pastel {
	clear: both;
	float: left;
	margin-left: 0;
	width: 48.9795%;
	display: block;
}
#previsualizacion {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 48.9795%;
	display: block;
}
#previsualizacion_pastel {
	clear: both;
	float: left;
	margin-left: 0;
	width: 96%;
	display: block;
}

#precio_total {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#entrega {
	clear: both;
	float: left;
	margin-left: 0;
	width: 88%;
	display: block;
}
#resumen {
	clear: both;
	float: left;
	margin-left: 10.204%;
	width: 79.5918%;
	display: block;
}
#resumen-imagen {
	clear: both;
	float: left;
	margin-left: 0;
	width: 18.3673%;
	display: block;
}
#resumen-descripcion {
	clear: none;
	float: left;
	margin-left: 4.0408%;
	width: 24%;
	display: block;
}
#resumen-entrega {
	clear: none;
	float: left;
	margin-left: 4.0408%;
	width: 24%;
	display: block;
}
#resumen-precio {
	clear: none;
	float: left;
	margin-left: 6%;
	width: 18%;
	display: block;
	margin-top: 0;
}
#resumen-extras {
	clear: both;
	float: left;
	margin-left: 0;
	width: 74.4%;
	display: block;
	padding: 11px 0;
	margin-top: 0px;
	text-align: right;
}
#extras-precio {
	clear: none;
	float: left;
	margin-left: 6%;
	width: 18%;
	display: block;
	padding: 8px 0;
	margin-top: 0px;
	text-align: left;
}
#resumen-total {
	clear: both;
	float: left;
	margin-left: 0;
	width: 74.4%;
	display: block;
	padding: 11px 0;
	text-align: right;
}
#total-precio {
	clear: none;
	float: left;
	margin-left: 6%;
	width: 18%;
	display: block;
	padding: 8px 0;
	text-align: left;
}
#resumen-metodopago {
	clear: both;
	float: left;
	margin-left: 70%;
	width: 25%;
	display: block;
	text-align: center;
	background: #763523;
	border-radius: 12px;
	padding: 18px 20px;
	margin-top: 2%;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	font-weight: 700;
	font-size: 9pt;
	line-height: 11pt;
	letter-spacing: 1px;
}
#resumen-titulo1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	margin-bottom: 12px;
}
#resumen-titulo2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	margin-bottom: 12px;
}
#resumen-titulo3 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	margin-bottom: 12px;
}
#resumen-descripcion-info {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#resumen-entrega-info {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#resumen-precio-info {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	border: none;
	margin-top: 0;
	padding: 0;
	text-align: left;
}
#resumen-sesion {
	clear: both;
	float: left;
	margin-left: 80%;
	width: 19%;
	display: block;
	margin-top: 1%;
}
#boton-seleccion {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#decorado-contenedor {
	clear: both;
	float: left;
	margin-left: 10.204%;
	width: 69.5918%;
	display: block;
}
#decorado1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 21.5%;
	display: block;
	margin-top: 3%;
}
#decorado2 {
	clear: none;
	float: left;
	margin-left: 4%;
	width: 21.5%;
	display: block;
	margin-top: 3%;
}
#decorado3 {
	clear: none;
	float: left;
	margin-left: 4%;
	width: 21.5%;
	display: block;
	margin-top: 3%;
}
#decorado4 {
	clear: none;
	float: left;
	margin-left: 4%;
	width: 21.5%;
	display: block;
	margin-top: 3%;
}
#decorado5 {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 18.3673%;
	display: block;
}
#inicio-sesion {
	clear: both;
	float: left;
	margin-left: 0;
	width: 38.9795%;
	display: block;
}
#registro {
	clear: none;
	float: left;
	margin-left: 6.0408%;
	width: 44.9795%;
	display: block;
}
#sesion {
	clear: both;
	float: left;
	margin-left: 80%;
	display: block;
}
#bag {
	clear: none;
	float: left;
	margin-left: 0.5%;
	display: block;
	text-align: right;
}
#decorado-content {
	clear: both;
	float: left;
	margin-left: 10.204%;
	width: 79.5918%;
	display: block;
}
#decorado-title {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	margin-bottom: 3%;
}
#contacto-form {
	clear: both;
	float: left;
	margin-left: 20%;
	width: 60%;
	display: block;
	margin-top: 5%;
	margin-bottom: 3%;
}
#extras {
	clear: both;
	float: left;
	margin-left: 0;
	width: 90%;
	display: block;
	padding: 3% 5% 6% 5%;
}

#previsualizacion_pastel img {
	max-height: 672px;
	}
}
