.grid {
	position: relative;
	margin: 0;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	width: 100%;
	background: #fff;
	text-align: center;
	cursor: pointer;
	border: solid #edddc2 2px;
}

.grid figure img {
	position: relative;
	display: block;
}

.grid figure figcaption {
	color: #fff;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 500;
	font-size: 22pt;
	text-shadow: #4c1a06 2px 2px 20px;
}


.grid figure h2 span {
	font-weight: 500;
}

.grid figure h2,
.grid figure p {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 14pt;
	font-weight: 300;
}


/*---------------*/
/***** Sadie *****/
/*---------------*/

figure.effect-sadie figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(top, rgba(226,143,38,0) 0%, rgba(226,143,38,0.8) 75%) ;
	background: linear-gradient(to bottom, rgba(226,143,38,0) 0%, rgba(226,143,38,0.8) 75%);
	content: '';
	opacity: 0;
	-webkit-transform: translate3d(0,50%,0);
	transform: translate3d(0,50%,0);
}

figure.effect-sadie h2 {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	color: #FFF;
	-webkit-transition: -webkit-transform 0.35s, color 0.35s;
	transition: transform 0.35s, color 0.35s;
	-webkit-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0);
}

figure.effect-sadie figcaption::before,
figure.effect-sadie p {
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: opacity 0.5s, transform 0.5s;
}

figure.effect-sadie p {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	opacity: 0;
	-webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
}

figure.effect-sadie:hover h2 {
	color: #fff;
	-webkit-transform: translate3d(0,-90%,0) translate3d(0,0px,0);
	transform: translate3d(0,-90%,0) translate3d(0,0px,0);
	text-shadow: #4c1a06 2px 2px 20px;
}

figure.effect-sadie:hover figcaption::before {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
figure.effect-sadie:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,-20%,0);
	transform: translate3d(0,-20%,0);
}

@media screen and (max-width: 50em) {
	.content {
		text-align: center;
	}
	.grid figure {
		float: none;
		width: 100%;
	}
	figure.effect-sadie:hover p {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
figure.effect-sadie:hover h2 {
	-webkit-transform: translate3d(0,-50%,0) translate3d(0,-15px,0);
	transform: translate3d(0,-50%,0) translate3d(0,-15px,0);
}
.grid figure h2 {
	font-size: 16pt;
}
.grid figure p {
	font-size: 10pt;
}
}

@media screen and (max-width: 480px) {
.grid figure {
		border: none;
	}
}