@charset "UTF-8";

a:active,
a:hover {
  outline: 0;
}

@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }

section {
  width: 100%;
}

.nav-collapse,
.nav-collapse * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.nav-collapse,
.nav-collapse ul {
  list-style: none;
  width: 100%;
  float: left;
  color: #d6bf94;
}

.nav-collapse li {
  float: left;
  width: 100%;
  color: #d6bf94;
}

.nav-collapse a:hover{
	color: #763523;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: 500;
	letter-spacing: 1pt;
}

@media screen and (min-width: 40em) {
  .nav-collapse li {
    width: 25%;
    *width: 25%; /* IE7 Hack */
    _width: 25%; /* IE6 Hack */
  }
}

.nav-collapse a {
  color: #b1b3b6;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 11pt;
  font-weight: 300;
  letter-spacing: 1pt;
  text-decoration: none;
  width: 100%;
  border-bottom: 1pt solid #eca626;
  padding: 15px;
  float: left;
  text-align: center;
}

@media screen and (min-width: 40em) {
  .nav-collapse a {
    margin: 0;
    padding: 6px 0;
    float: left;
    text-align: center;
    border-bottom: 0;
  }
}

.nav-collapse ul ul a {
  background: #ca3716;
  padding-left: 2em;
}

@media screen and (min-width: 481px) {
  .nav-collapse ul ul a {
    display: none;
	text-align: center;
  }
}


/* ------------------------------------------
  NAV TOGGLE STYLES
--------------------------------------------- */

@font-face {
  font-family: "responsivenav";
  src:url("../icons/responsivenav.eot");
  src:url("../icons/responsivenav.eot?#iefix") format("embedded-opentype"),
    url("../icons/responsivenav.ttf") format("truetype"),
    url("../icons/responsivenav.woff") format("woff"),
    url("../icons/responsivenav.svg#responsivenav") format("svg");
  font-weight: normal;
  font-style: normal;
}

.nav-toggle {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  text-indent: -100px;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 40px;
  float: right;
}


.nav-toggle:before {
  color: #FFF;
  font-family: "icomoon", sans-serif;
  background: #e29126;
  font-variant: normal;
  font-size: 23pt;
  text-transform: none;
  position: absolute;
  content: "\e905";
  text-indent: 0;
  text-align: center;
  line-height: 41px;
  speak: none;
  width: 100%;
  top: 0;
  left: 0;
}

.nav-toggle.active::before {
  font-family: 'icomoon', Arial, Helvetica, sans-serif;
  font-size: 23pt;
  line-height: 40px;
  content: "\e907";
}

@media only screen and (min-width: 769px) {
.nav-collapse,
.nav-collapse ul {
  list-style: none;
  width: 100%;
  float: center;
  margin: auto;
}
.nav-collapse a:hover{
	color: #763523;
	font-size: 11pt;
	font-weight: 500;
	letter-spacing: 1pt;
	border-bottom: solid 2px #e28f26;
}
}

@media only screen and (max-width: 769px) {
.nav-collapse a {
  font-size: 10pt;
}

}


